[2014-02-06 20:15] defuse opened #1 "More HKDF Test Vectors"
Add the rest of the HKDF test vectors. We have 1, 2, 3, and 7. We're missing 4, 5, and 6.

The test vectors are in [The RFC](http://tools.ietf.org/html/rfc5869)

[2014-02-06 20:17] defuse opened #2 "Runtime Self-Test"
We should develop a quick self-test that will have to run once (and pass) before it will encrypt or decrypt anything.

[2014-02-06 20:19] defuse opened #3 "User Documentation"
At the top of the code should be some really good documentation for the user. We shouldn't just tell them how to use the code, we should tell them what this code is good for, and what it isn't (e.g. network communication protocol).

[2014-02-06 20:19] defuse opened #4 "Security Audit"
Get someone else to look at this code and find all the problems with it.

[2014-02-06 20:20] defuse opened #5 "Derive Key From Password"
Add a function for deriving a key from a password with PBKDF2.

We have to think *really* hard about how to make this usable, since we want to make sure they're doing the salt right (by making it hard to do it wrong).

[2014-02-06 20:22] defuse opened #6 "Is it hard to misuse?"
We want this code to be as hard to misuse as possible. We should consider giving it a property like:
- Encrypt() and Decrypt() will only accept a key generated with CreateNewRandomKey()

[2014-02-06 20:58] defuse opened #7 "Constitution"
Answer these questions:
- Why does this library exist?
- What's special about this library?
- What are the "core values" of this library?

[2014-02-06 20:59] defuse opened #8 "BSD License"
The 2-clause BSD license would be better for this code than public domain, because of the issues of "public domain" not being defined in some countries, etc. Unfortunately I released the original code as "public domain." Is it too late to change it?

[2014-02-06 21:30] #8 closed, assigned to nobody

[2014-02-08 17:11] defuse opened #9 "Portable Ciphertexts"
Should we encode the cipher and hash function into the ciphertext, so that it can be decrypted even after the algorithms have changed?

[2014-02-08 17:13] #9 closed, assigned to nobody

[2014-02-08 21:17] #7 closed, assigned to nobody

[2014-02-08 21:40] defuse opened #10 "Key Leaked in Stack Trace"
If the HMAC is invalid, PHP will dump out a stack trace with the key in it. This is obviously not good, because it means an attacker who can corrupt the ciphertext can learn the key.

[code]

[2014-02-08 23:03] #2 closed, assigned to nobody

[2014-02-08 23:04] #1 closed, assigned to nobody

[2014-02-09 03:18] defuse opened #11 "Check Ciphertext Length First?"
https://twitter.com/mik235/status/432350134496546816

When decrypting, should we check if the ciphertext length is HMAC + 2*block bytes first, or keep doing it as we do it now? What are the security implications?

[2014-02-09 03:23] defuse opened #12 "Class Constants"
There is no need for the constants to be global. They should be class constants. Figure out what versions of PHP class constants are supported on.

[2014-02-09 05:03] defuse opened #13 "Multibyte strings"
Do they affect us? There are $string[$index] stuff going on in this code, so maybe it could?

[2014-02-09 05:12] defuse opened #14 "Non-documented built-in function failures."
Can `str_repeat` fail due to out-of-memory, or something else? What about `mcrypt_generic`? The docs don't say they can fail, but is this really true?

[2014-02-09 15:39] #11 closed, assigned to nobody

[2014-02-09 15:42] #12 closed, assigned to nobody

[2014-02-09 16:54] defuse opened #15 "What happens when mcrypt functions are missing?"
What happens when mcrypt isn't installed and the mcrypt functions are missing? Does it crash? Does the crash leak information?

[2014-02-10 03:08] #14 closed, assigned to nobody

[2014-02-15 05:01] #15 closed, assigned to nobody

[2014-02-15 05:02] defuse opened #16 "Real Life Example"
Make a real life example, showing, most importantly, how error handling should be done.

[2014-02-15 05:15] #10 closed, assigned to nobody

[2014-02-15 05:16] #4 closed, assigned to nobody

[2014-02-15 05:16] #6 closed, assigned to nobody

[2014-02-15 05:26] #3 closed, assigned to nobody

[2014-02-15 05:28] defuse opened #17 "test issue"
ignore this. testing.

[2014-02-15 05:29] #17 closed, assigned to nobody

[2014-02-15 05:34] defuse opened #18 "Encoding"
We need to provide encoding and decoding functions (hex, base64, etc) that are safe against side channel attacks.

[2014-06-16 18:33] ircmaxell opened #19 "Error check returns exception instead of throws"
The error check [on line 375](https://github.com/defuse/php-encryption/blob/master/Crypto.php#L375) returns the exception as a function call, instead of throwing it. This would fatal error (non-existent function) if the branch was ever reached.

Instead, change

[code]

To

[code]

[2014-06-16 18:39] #19 closed, assigned to nobody

[2014-06-16 18:52] defuse opened #20 "Find Copies of HKDF Bug"
#19 reports a flaw in the HKDF implementation. I'm pretty sure I copied that code from another project, or re-used that code in another project. Which project? Find all the other ones and fix them.

[2014-06-23 18:24] defuse opened #21 "Double HMAC Doesn't Need Random Key"
https://www.isecpartners.com/blog/2011/february/double-hmac-verification.aspx

Think about this carefully before changing the code. This post says we can re-use the key again in the second HMAC, instead of generating a random one. That would be a lot better, as it's not prone to RNG failures.

[2014-07-13 00:10] #21 closed, assigned to nobody

[2014-07-13 16:20] xstrikez opened #23 "Function error"
Hi there,
Firstly, I would like to thank you for the hard work. I'm using this library to do encryption and decryption for my education purposes but unfortunately I'm having trouble with the decrypt part which it keeps showing me this error message: 'DANGER! DANGER! The ciphertext has been tampered with!' . I did not edit anything from the how to use this code example code except the $message whic

[2014-07-14 22:39] #20 closed, assigned to nobody

[2014-07-16 00:03] defuse opened #24 "Remove (or don't remove) the ?> closing tag."
Decide whether or not we should have the `?>` closing tag.

[2014-07-20 14:26] dcharles525 opened #25 "When encrypting and decryption a image, it corrupts."
I noticed it only corrupts image data, not mp3 or text files. Any idea how to solve this? I'd like to try and help

[2014-07-20 14:46] #25 closed, assigned to nobody

[2014-07-29 19:38] #24 closed, assigned to nobody

[2014-07-29 19:40] defuse opened #26 "File Chunking"
This is probably going to be used to encrypt files. Currently, the entire file would have to be loaded into memory. We should support file chunking, once the cool folks over in https://github.com/kaepora/miniLock/issues/2 figure out how to do it safely.

[2014-07-29 22:51] #13 closed, assigned to nobody

[2014-07-29 22:53] defuse opened #27 "Create Adequate Testing for Multibyte Environments"
See pull request #22.

[2014-08-17 22:57] defuse opened #29 "Why distinguish between CannotPerformOperationException and CryptoTestFailedException?"
From the user's perspective, both of these are the same: Something is *seriously* wrong and a human needs to take a careful look at what's happening. Why are they different exceptions? In what case would the user benefit from being able to distinguish the two?

[2015-01-16 02:46] sarciszewski opened #32 "Mcrypt is abandoned, use OpenSSL"
Making a note for my own fork.

[2015-01-16 04:13] sarciszewski opened #34 "Version Tagging"
This is a nice-to-have in case anyone wants to encrypt with version 1.x of this library in 2015 then decrypt it with version 3.x in 2025.

[2015-01-16 04:19] sarciszewski opened #35 "Which AES Key Size?"
References:
 * http://eprint.iacr.org/2009/317
 * http://eprint.iacr.org/2009/374

Attack complexity based on the two papers:

* AES-128 = 126.1 bits
* AES-192 = 172 bits
* AES-256 = 99.5 bits

Given this, I feel that AES-192 is the safest of the three choices.

If everyone agrees, we need to get new test vectors written in the runtime tests then change the key size from 16 to 24.

[2015-01-16 04:29] defuse commented on #35
Here's the attack on AES-128:

http://research.microsoft.com/en-us/projects/cryptanalysis/aesbc.pdf

[2015-01-16 04:32] defuse commented on #35
Even though 172 > 126.1, the difference between 192 and 172 is a lot greater than the difference between 128 and 126.1. That tells me (admittedly, without actually understanding the attacks), that AES-128 is still more resillient to cryptanalysis. Bruce Schnier also recommends AES-128 for new applications (https://www.schneier.com/blog/archives/2009/07/another_new_aes.html).

I think for simplicit

[2015-01-16 09:52] timoh6 commented on #35
I'd prefer 256-bit version because the longer key has a better safety margin against (practical) side-channel leaks.

Given that side-channel leaks are a real problem, I think it is better to offer more security margin against them, than offer more security margin agains (only theoretical) related-key attacks.

Thoughts?

[2015-01-16 12:18] sarciszewski commented on #35
Correct me if I'm wrong, but doesn't openssl use AES-NI for fast, cache-timing-safe crypto? What other side-channels do we have to consider?

[2015-01-16 13:16] timoh6 commented on #35
Right, the most obvious way to deal with the cache timing attacks is (according to the current understanding) the use of AES-NI. But this has some requirements, software and hardware support, and that's why I wouldn't dare to count blindly on it (although possibly a good share of running PHP code has the underlying required processor and recent enough OpenSSL).

But if you compare that with the re

[2015-01-16 14:14] sarciszewski commented on #35
I'm inclined to agree, but I'm going to hold off on any PRs until I've heard from more people. Thanks. :)

[2015-01-16 14:53] sarciszewski commented on #35
Solar Designer says AES-128.

[2015-01-16 14:56] CodesInChaos commented on #35
Related key attacks are irrelevant if you use a proper random key. If you don't use a proper key, fix your protocol.

I'd consider AES-128 strong enough, but I have little doubt that properly used AES-256 is stronger. Not only is the key larger, but the additional rounds increase resistance to cryptoanalysis. The biggest downside of AES-256 is that the CPU cost increases by roughly 1.4 times, but

[2015-01-16 15:42] CodesInChaos commented on #35
@sarciszewski
My reading  of solar designer's comment is that he recommends AES-128 if you derive the key using PBKDF2-HMAC-SHA1 since its native output size is smaller than the key size of AES-192. If you derive the key differently, this concern shouldn't apply.

[2015-01-16 19:56] sarciszewski commented on #35
@CodesInChaos
Okay, thanks for the clarification. So if you had to recommend one keysize for AES, what would it be?

[2015-01-16 20:12] #32 closed

[2015-01-24 04:06] defuse opened #37 "Safe Failure Tests on 5.2 and 5.3."
Switching to OpenSSL broke 5.2 and 5.3. We don't want to support those versions any more, but we should at least be sure we're not *dangerous* on those versions. Add travis tests for those versions that make sure they fail somehow safe (e.g. by throwing an exception).

https://github.com/defuse/php-encryption/pull/36

[2015-02-02 07:26] sarciszewski commented on #18
See also https://github.com/php/php-src/issues/1036

[2015-02-04 06:11] sarciszewski commented on #35
I think we can close this for now and revisit later. The current key size is clearly strong enough.

[2015-02-04 06:11] #35 closed

[2015-02-04 06:14] sarciszewski commented on #29
A test failing means that something is wrong with the runtime tests (e.g. there's something wrong with how PHP/openssl calculated the test vectors).

If the crypto operation cannot be performed, this is because they do not run a supported version of PHP.

I do think this difference is worth highlighting. The former is "it could be PHP, or it could be the Crypto.php" the latter is "it's not install

[2015-02-04 06:19] sarciszewski commented on #5
@htho `hash_pbkdf2` and `hash_equals` can satisfy this need. Luckily, defuse has previously written an implementation for a PBKDF2 class in PHP, so he knows what to do.

[2015-02-04 23:01] defuse commented on #5
`password_hash` and `password_verify` are not what you want to make keys with. You need a KDF on its own, like `hash_pbkdf2` (and make sure it's salted, etc).

[2015-02-06 09:26] htho commented on #5
Uh I see, my post was offtopic. I was thinking about password hashing for authentication needs, not for encryption.

Anyway, @defuse Have you had a look at `password_hash` and `password_verify`? Are they (in your opinion) convenient for authentication?

[2015-02-06 13:56] CapnKlutch opened #38 "Decryption fails with a lot of data."
I am trying to Encrypt/Decrypt large amounts of data. I am encrypting about 3.56MB of text, and when I  try to decrypt it, it fails on line 232 - ```throw new InvalidCiphertextException();```

My end goal is to be able to encrypt very large files perhaps up to 2gb, but at this point I'm stuck at decrypting 3.56MB.

[2015-02-06 14:08] sarciszewski commented on #38
Could you update to the latest version? There is no exception on line 213 for the current code.

[2015-02-06 14:13] CapnKlutch commented on #38
@sarciszewski My apologies it is on line ```232```

[2015-02-06 14:18] sarciszewski commented on #38
https://github.com/defuse/php-encryption/blob/master/Crypto.php#L197

HMAC verification is failing. This is peculiar. Could you upload a PoC with dummy/garbage data about how you are attempting to encrypt your data so we can debug this?

[2015-02-06 14:22] CapnKlutch commented on #38
@sarciszewski Here is the dummy data - http://tempsend.com/0EA469F46B

[2015-02-06 14:30] CapnKlutch commented on #38
@sarciszewski I also need to note that my ```const KEY_BYTE_SIZE = 32;``` from the 16 that shipped with it.

[2015-02-06 15:02] sarciszewski commented on #38
This works for me.
[code]

[2015-02-06 15:22] CapnKlutch commented on #38
@sarciszewski Correct you are, it seems as it does work when it is a file. However when I insert it as a BLOB in a mysql db and pull it again then I get the error. It works fine for small amounts of text. How come it acts like this with large amounts as a BLOB?

[2015-02-06 15:28] sarciszewski commented on #38
I suspect there may be an encoding issue with MySQL. What happens if you `base64_encode` it before storing it in the DB and then `base64_decode` it on retrieval?

[2015-02-06 15:37] CapnKlutch commented on #38
@sarciszewski Still not working, it seems odd why it would work with less data but not a large amount. Any other suggestions?

[2015-02-06 15:39] sarciszewski commented on #38
http://php.net/manual/en/function.xdiff-string-diff.php

See if something changes before and after DB storage?

[2015-02-06 16:09] defuse commented on #38
The `BLOB` data type has a maximum length, and according to the MySQL docs, if you try to insert something longer than that, it will truncate it. So in this case it seems like MySQL *is* tampering with your ciphertext, and this library is correctly detecting that. Try printing the length of the string you get back from the database, and you should see that it's much shorter than what you put in.

[2015-02-06 16:11] defuse opened #39 "Support API for Encrypting/Decrypting files."
You can't encrypt super-large files with this library because you have to load them into RAM. We could either (1) Have a "stream" sort of API, where you feed it data and it feeds back ciphertext, but there are problems with this, e.g. when decrypting you'll get all of the plaintext and then only the last call will check the MAC, but the damage has already been done, or (2) Support file encryption/

[2015-02-06 16:13] defuse commented on #38
I opened #39 about encrypting large amounts of data.

[2015-02-06 16:19] sarciszewski commented on #39
Could we drop the HMAC and use `aes-128-gcm` mode? Would this enable better support for streaming?

[2015-02-06 16:20] defuse commented on #38
And by the way, the `Do not change these constants!` warning comment is there for a reason. Changing `KEY_BYTE_SIZE` to 32 doesn't actually make it use AES-256, it just makes it pass 32 bytes to AES-128, and who knows what OpenSSL will do with that. You're infinitely more likely to break your own security by mucking with it than you are to fall victim to an 128-bit key brute-force attack.

[2015-02-06 22:21] defuse commented on #39
That wouldn't really help, since the problem is in the API we would have to make available, and the APIs we have to use.

The problem inherent in streaming is that you can only authenticate once you've seen the entire ciphertext, so if you don't want to hold all of the plaintext in memory, you have to return unauthenticated plaintext to the user, which is a security risk even if the last decryptio

[2015-02-06 22:36] defuse commented on #39
We should encapsulate the storage mechanism, and then instead of making the client call us, we should call (and runtime test!) the client. So we would provide some interface, say `CryptoDataStore`, which the client would implement. Then, the client would pass our encrypt function us two instances: One containing the plaintext, and one containing the ciphertext that we write to. We could provide re

[2015-02-06 22:39] defuse commented on #39
If we get this API perfect, then maybe libsodium could adopt it!

[2015-02-06 22:45] defuse commented on #39
**Here is the number one rule for this ticket:** Whatever we end up with must be user-tested. By user-tested, I mean using 10-20 developers of varying experience to compare it to the null hypothesis (the "obvious" way to do streaming that we're trying to avoid).

[2015-02-06 22:58] defuse commented on #39
1. We take 3 parameters: Input, Temporary, and Output
2. We apply the crypto transform on the Input into Temporary
3. Upon failure, call `Temporary.destroy()` and signify failure.
4. Upon success, transfer Temporary into Output, call `Temporary.destroy()`, then signify success.

For Linux files, (4) would be just a `mv` within the same filesystem, and would be fast. For file-to-database, Temporary

[2015-02-07 00:26] zookoatleastauthoritycom commented on #39
I like the API in https://github.com/defuse/php-encryption/issues/39#issuecomment-73328975

[2015-02-07 12:16] pnowosie commented on #5
@htho `password_hash` uses `bcrypt` algorithm as such follows
 [OWASP](https://www.owasp.org/index.php/Password_Storage_Cheat_Sheet) recommendation for authentication / password storage purposes. For `password_verify` I missed the information in docs that it compares hashes in length-constant time witch such function is expected to do.

[2015-02-07 18:09] defuse commented on #5
@htho Yes, `password_hash` and `password_verify` are exactly what you should be using for password verification.

[2015-02-08 21:15] sarciszewski commented on #39
What do you think about this process?

1. Process the file in chunks (e.g. 512 KiB).
2. Upon any encrypt/decrypt operation, start with `hash_init()` and `hash_update()` with the MAC of each successive chunk.
3. Only store the final hash at the end?

[2015-02-08 23:18] defuse commented on #39
@sarciszewski Yes, that's (something like) what we would do, similar for encryption and decryption, but the problem is making a hard-to-misuse API on top of that.

[2015-02-09 00:53] zookoatleastauthoritycom commented on #39
I think there may be different, and in fact incompatible (!) use-cases in mind here:

1. Easy partial reads: I can easily read a few bytes out of a larger file (potentially *much* larger), while being assured that the bytes that I did read were the correct bytes, even in the case that a malicious attacker was attempting to trick me into accepting the wrong bytes.

2. Avoid truncation attacks: I ca

[2015-02-16 15:32] tsyr2ko commented on #32
Sorry, post in the pull request, but it concerns this issue.
https://github.com/defuse/php-encryption/pull/33#issuecomment-74525225

[2015-03-01 08:24] defuse commented on #38
@CapnKlutch Did you manage to get this working?

[2015-03-01 08:26] defuse commented on #34
+1, there should definitely be version tagging (even if all we do right now is check that it's equal to a constant).

[2015-03-01 08:29] defuse commented on #27
I don't understand why this ticket exists. We had multibyte testing in `test.sh` since Jul 15, 2014, but I opened this ticket on Jul 29, 2015. Am I insane?

[2015-03-01 08:32] defuse commented on #27
I'm satisfied with the existing tests, closing.

[2015-03-01 08:32] #27 closed

[2015-03-01 08:34] defuse commented on #29
Good points, I'll leave it as-is.

[2015-03-01 08:34] #29 closed

[2015-03-01 08:35] defuse commented on #18
This should probably be a separate library if we do implement it.

[2015-03-01 08:36] defuse commented on #26
Duplicate of #39.

[2015-03-01 08:36] #26 closed

[2015-03-01 08:38] #23 closed

[2015-03-01 15:38] sarciszewski commented on #18
Ya I need to pick that project back up anyway. :P

[2015-03-02 00:06] mattsah opened #41 "Making it easier for people to use..."
@defuse

I came across your library in some of those slim threads and thought it might be great to use, as I've currently been investigating encryption libraries to finish my security module.

That said, two things I noticed immediately:

1) It lacks composer support
2) It takes over the exception handler (I understand this is for security)

I'd like to fix these two problems and make use of your

[2015-03-02 00:18] sarciszewski commented on #41
This is sort of a drop-in library. I could look into forking this to make it composable.

[2015-03-02 00:26] defuse commented on #41
I need to do some research to find out how composer works.

I like the idea of hooking the exception handler only temporarily. I think it's better because it's less likely that the client will have overridden us and replaced our handler with a(nother) vulnerable one.

[2015-03-02 01:13] mattsah commented on #41
@sarciszewski

There's a pull request to make it work with composer.

[2015-03-02 03:17] mattsah commented on #41
@defuse

Please see https://github.com/defuse/php-encryption/pull/42

This removes the exception handler as a separate class and sets it as a simple callback function.  I added two methods to set and reset the exception handler and wrapped the Encrypt and Decrypt methods with them.

It was not clear to me wether or not the CreateNewRandomKey really needed it, I'll leave that up to your judgement.

[2015-03-02 03:30] pulyaevskiy commented on #41
@defuse Please see #31 which adds support for composer. I can update it to fit #42 (moving Crypto.php to `src/`).

[2015-03-02 03:34] defuse commented on #41
Hang on, I just realized the set-then-restore exception handler pattern won't work. If a crypto exception is correctly caught, the method call to restore the exception handler won't get run, and we'll have permanently changed it. :-(

[2015-03-02 03:49] mattsah commented on #41
@defuse Still better than right now, no?  Which is that the exception handler is taken over completely.

[2015-03-02 03:50] mattsah commented on #41
That is to say, I agree we should figure out a way around that, but:

1) the register / reset API is internal, so we're not exposing new public API with this
2) we can figure out a means to work around that better... perhaps reverting back to a separate class and on __destruct() it resets the old one?

[2015-03-02 04:15] mattsah commented on #41
Not sure how well that will work given __destruct() often isn't called very quickly anyhow.  PHP's GC is relatively slow and often times just comes all at once towards the end of scripts.

PHP 5.5 supports finally, it could be noted that *when* user's handle exceptions they should "finally" restore the the exception handler.  Looking ito if there's some way otherwise to determine if the exception

[2015-03-02 04:16] pulyaevskiy commented on #41
@defuse @mattsah @sarciszewski

Just wondering if there is a way to avoid handling of uncaught exceptions in the library? It really seems like a job for application that uses this library.

Though I totally understand security concern about exception stack trace.

There is another way to verify that stack trace is not leaked - just by checking `display_errors` ini setting (should be disabled or 's

[2015-03-02 04:19] mattsah commented on #41
@pulyaevskiy

Do you recommend completely disabling the library if display errors is enabled?

I'm wondering what would happen if the exceptions themselves try to restore the exception handler... is the exception handler code chosen *before* or after they're instantiated?

[2015-03-02 04:19] mattsah commented on #41
Whoops, did not mean to close.

[2015-03-02 04:30] pulyaevskiy commented on #41
@mattsah

Not really. I would rather give an option to enable or disable this check. That would probably require to make this class non-static and pass some sort of `$displayErrorsCheck` flag in the constructor. So for dev environment it would still be possible to see all the stack traces (by passing `$displayErrorsCheck = false`).

[2015-03-02 04:37] mattsah commented on #41
@pulyaevskiy @defuse

It appears as though the __construct() method on the exceptions themselves can restore the old exception handler after the parent::__construct()...

So basically this can happen, each function registers the exception handler, if an exception is thrown, it restores the previous handler in it's __construct() after the parent::__construct(), which means it gets handled by the cr

[2015-03-02 04:55] mattsah commented on #41
@pulyaevskiy

See: https://github.com/defuse/php-encryption/pull/43

I think this takes care of it.  While I agree that exception handling *should* be something that the app is doing, the point of this is if the person writing the app isn't doing it *properly*, we prevent it from becoming a bigger issue.

As for disabling it.  I wouldn't bother giving people the option if we're sticking with this

[2015-03-02 07:02] mattsah commented on #41
@pulyaevskiy

I take it back.  The solution doesn't seem to stick.  I'm not sure what the difference is on different systems, but it's unreliable overall and presumably fragile.

@defuse

After 2 - 3 hours of trying different things, I'm not sure there's any clean solution.  What I thought was a working solution wasn't.

The long and short of it is, I just don't think this is possible with PHP rig

[2015-03-02 07:04] pulyaevskiy commented on #41
I guess I would still be in favor of providing proper API with options for users rather than forcing everyone to tweak the library for their use cases.

First of all, I haven't seen anyone who'd leave `display_errors` enabled on production. It just seems extremely unlikely. Second of all, if someone *do* leave it enabled then he/she already in trouble in terms of security (regardless of how this l

[2015-03-02 07:56] mattsah commented on #41
@pulyaevskiy

Well, it's not my library.  It seems pretty clear from the README that security is first concern, which often times forsakes usability.  I gave it my best shot, and couldn't come up with a solution that preserved both... so I'm abandoning this for now.

I'd maintain a separate fork if I thought I was in a position to maintain it from a security standpoint, but I'm not.

If my other s

[2015-03-02 15:44] defuse commented on #41
@mattsah I'm curious why the exception handler is stopping you from using it. Are you worried about it making other exceptions in your scripts less reliable? Or is it just the feeling (which I share) that a crypto library shouldn't be taking over something so global?

[2015-03-02 15:54] defuse commented on #41
If there was any chance taking over the exception handler could cause other parts of the application to fail, I might prefer to check `display_errors` and refuse to run.

We should quantify the exact risk of not doing the exception handler thing. Which exceptions thrown by this library would result in leaking sensitive information (plaintext or the key).

Maybe there's something else we could do,

[2015-03-02 16:27] defuse commented on #41
Does anyone see a reason something like this would be worse or less effective than capturing all exceptions?

    function safeThrow($eclass, $msg, $depth = 50)
    {
        if ($depth <=  0) {
            throw new $eclass($msg);
        }
        safeThrow($eclass, $msg, $depth - 1);
    }

Two potential (non-)problems come to mind:

1. It may exhaust PHP's stack. I seriously doubt a depth of `

[2015-03-02 16:47] ircmaxell commented on #41
Strong -1 on that. It's hacky and doesn't really solve the problem (it's a bandaid).

The problem here is that an uncaught exception can contain potentially sensitive information in the stacktrace.

So why not set the exception handler when throwing, and then clear it via the destructor of the exception?

    class CryptoException extends Exception {
        public function __construct($message) {

[2015-03-02 17:37] pulyaevskiy commented on #41
@ircmaxell @defuse

I'm not sure I'm entirely following this logic, so I wrote simple test.
Below is CryptoException from @ircmaxell example and a "test" Application class which sets it's own handler.  In my App I have my own exception handler.

[code]

Now if I run it I get this:

[code]

How can I make my app handling all the exceptions in this case?

AFAIK `throw new Exception()` works somethin

[2015-03-02 17:43] defuse commented on #41
Are there any guarantees about when the destructor of the exception will get called? If it is at the whim of the garbage collector, then I see problems.

That solution feels like even more of a hack, since it assumes the user is not keeping the exception object around for very long, and no other exceptions get raised until it gets destructed. It's also harder to test well.

Idea: Can we create an

[2015-03-02 17:47] mattsah commented on #41
It doesn't work in destructor, the garbage collector runs can vary depending on settings, and in smaller scripts it may never get run.

@defuse the reason an exception handler is preventing me from running it is because I have another exception handler set for actual 500 errors.  I don't use libraries where I have to modify the source for each installation.  If I find it indespensible, then I'll m

[2015-03-02 17:50] mattsah commented on #41
If it's acceptable to @defuse, I'd vote simply to remove it and let others take the risk of not handling exceptions properly.  But I do understand the security concerns for users who aren't vigilant.

[2015-03-02 17:52] defuse commented on #41
The methods of Exception are final, so we can't override them. However, maybe we can take advantage of exception nesting. If we created an exception in a safe context, then nest that one in the exception our library throws, which stack trace will it use? (Typing this on my phone so I can't actually try it.)

[2015-03-02 17:53] ircmaxell commented on #41
Let's keep in mind that exception handlers happen at the outer most scope. There's no way to resume from it. It's not like an error handler that can resume. Once the exception handler finishes, it's over for the application.

With that in mind, perhaps we could even tweak it slightly more:

    class CryptoException extends Exception {
        public function __construct($message) {
            pa

[2015-03-02 17:55] defuse commented on #41
@mattsah Good reason.

[2015-03-02 18:02] mattsah commented on #41
@ircmaxell I tested with the __destruct() method the other day and could not get it to work as you describe.  But even if we can ensure this is happening, there's still potential that some code after the encryption processes and within the same scope may throw an additional exception which a user would expect to hit their exception handler.

I'm just, overall, not sure it's a great idea to be taki

[2015-03-02 22:21] defuse commented on #41
Summing up, there are four paths we could take.

1. Don't try to solve the problem at all.
2. Override the exception handler.
3. Override the exception handler per-exception.
4. The recursion hack.

1 < 2 < 3 < 4.

1 < 2 because then giving the library a corrupt ciphertext could cause it to leak the key to the web or a log file. I won't accept that possibility.

2 < 3 because there is at least one

[2015-03-02 22:38] ircmaxell commented on #41
Well, #3 doesn't rely on the GC. Even if you hold objects around, the parent exception handler will be called. No matter what. The difference is the number of handlers it needs to pop through to get there...

[2015-03-02 22:44] mattsah commented on #41
@defuse

For 1 < 2, I think my problem with this is that the *could* it totally dependent on the framework author.  An author *COULD* also just echo their key out to the world.  An author *COULD* post their key to github in their source code.

As I stated before, the reason I can't accept a globally set and never restored exception handler is because I have my own that serves a purpose, so if your

[2015-03-03 00:08] defuse commented on #41
@ircmaxell Oh, I didn't notice you did that! Clever. I'll have to test it myself to see if it works, because it looks very different to what was tried (and didn't work) in #43.

[2015-03-03 06:44] defuse commented on #41
Initializing a singleton instance of the exception classes in a safe environment works! I've added a branch with the changes:

https://github.com/defuse/php-encryption/compare/experimental_safeexceptions

In my opinion this is *way* better than 1, 2, 3, or 4. Does anyone see a problem with it?

I only tested it manually, but the backtrace shown has `InitializeSafeExceptions()` as the most recent c

[2015-03-03 07:06] defuse opened #44 "Get Crypto.php on Composer"

[2015-03-03 07:07] defuse opened #45 "Get Crypto.php on PEAR"

[2015-03-03 07:07] defuse opened #46 "Release Tarballs"

[2015-03-03 07:07] defuse opened #47 "Perform the v2.0.0 release ceremony"
I sign the git tags, but we need GPG signatures that people actually know how to verify. For now, I'll use my email address key, and then we'll switch to my air-gapped key in the future once I get it set up correctly.

[2015-03-03 07:08] defuse opened #48 "Publicity / Advocacy"
We need to start some sort of campaign to get people using this library instead of either rolling their own or using an existing broken one.

Before we do this, though, we need to:

1. Get Crypto.php on Composer - #44. **[DONE]**
2. Get Crypto.php on PEAR - #45.
3. Release versioned downloadable tarballs (possibly through github) - #46.
4. Cryptographically sign releases - #47.
5. Version tagging

[2015-03-03 07:13] defuse commented on #47
Cross-reference with #44 and #45 to secure the pipeline with signatures from upstream.

[2015-03-03 07:24] mattsah commented on #41
@defuse to be clear, this is essentially preventing stack trace without exception handler, yes?  And this being based on that the actual time of calling their intitialization, it was immediatley after the require?  This all still just feels a bit weird, but if it gets around it then so be it.

[2015-03-03 07:33] defuse commented on #41
@mattsah Exactly. The exception objects are created immediately after the require, and that's what gets echoed in the stack trace. So the exceptions thrown by this library will have an incorrect (but safe) stack trace, and there's no longer a need to add an exception handler.

[2015-03-03 14:50] sarciszewski commented on #41
Hah, that is one clever technique! I don't see any problems. Just need to test in various environments.

[2015-03-03 15:04] defuse commented on #41
I added some basic testing: https://github.com/defuse/php-encryption/commit/ac64e80bc0d65ff9405864d2e9c20c905bbd2a36

We've lost the ability to have customized message strings, which are pretty useful for debugging. We can work around that by initializing more exception objects with the strings we want built-in.

[2015-03-03 15:14] defuse commented on #41
Hm, tests are failing on Travis. I'll have to find out why later.

[2015-03-03 16:12] ircmaxell commented on #41
Strong -1.

Exceptions are not cheap (they involve copying a backtrace, etc). They should not be instantiated until necessary.

Additionally, the lack of a message or a trace in debugging mode (`var_dump($e)` inside of a try/catch) is problematic.

[2015-03-04 05:58] mfn commented on #48
As part of #44 may I suggest to also adopt a namespace for it? A global `Crypto` doesn't sound uncommon. Something like `Defuse/Crypto/Crypto.php` maybe? thx for the library!

[2015-03-04 08:26] mfn commented on #44
Sorry, in part repeated what I wrote in https://github.com/defuse/php-encryption/issues/48#issuecomment-77101644 .

Additionally, the following symbols should probably be namespaced/prefixed too:
- `CannotPerformOperationException`
- `InvalidCiphertextException`

[2015-03-04 14:45] sarciszewski commented on #48
The purpose of the library was, originally, to be a drop-in. Just copy Crypto.php to your project and use it. Autoloading, namespaces, etc. are an additional layer of complexity. Do we want this?

(I'd say yes, but I would also say branch/release/tag the pre-namespaced version before the change is made.)

[2015-03-04 15:35] davidcroda opened #49 "Safe to change static encryption keys?"
Hello,

TLDR: is it safe to change the two constants

    const ENCRYPTION_INFO = 'DefusePHP|KeyForEncryption';
    const AUTHENTICATION_INFO = 'DefusePHP|KeyForAuthentication';

I am concerned about a situation where an attacker has compromised the database, and therefore has access to the encrypted data and ivs.  In that situation, if they know the secret used for encryption they can decrypt the

[2015-03-04 15:42] defuse commented on #49
Those constants are not encryption keys, they are strings used in the info parameter to HKDF to differentiate the authentication key from the encryption key. You provide the library with a random 16 bytes (the `$key` parameter), and the library splits it into two keys (one for authentication and one for encryption) using those strings. Those strings being public does not affect security.

Perhaps

[2015-03-04 15:42] sarciszewski commented on #49
These constants aren't used for encrypting/decrypting data. They're used by `HKDF` to split your encryption key into two keys (one for encryption/decryption, the other for signing/verifying the ciphertext with an HMAC).

Changing them won't increase your security. If an attacker can compromise your database, they can also probably compromise your filesystem. (`SELECT somestring INTO OUTFILE /var/w

[2015-03-04 15:47] defuse commented on #49
@davidcroda Could you think of anything we could do to make that more obvious? Would a comment like

`// Constants used to split the key into authentication and encryption keys.`

have helped?

Thanks.

[2015-03-04 15:55] davidcroda commented on #49
Thanks for the info guys, I should have checked more closely at where they are actually used.

@defuse that may have helped.  It sounds like this may be an issue you have had before, if so you could probably put something explicit like "// Despite the name, these are NOT encryption keys . The only kind of confusing thing is the value of the constants, however it sounds like that cannot be changed

[2015-03-04 15:55] defuse commented on #41
Woah, I just tested @ircmaxell's CryptoException that does the recursive popping and it makes PHP segfault. Will investigate more later.

Here is the branch: https://github.com/defuse/php-encryption/tree/per-exception-handler

[2015-03-04 15:57] defuse commented on #41
Here is the backtrace

[code]

[2015-03-04 16:12] ircmaxell commented on #41
What version of PHP?

[2015-03-04 16:20] defuse commented on #41
[code]

[2015-03-04 16:20] sarciszewski commented on #49
Massive :+1: on hardware separation

[2015-03-04 16:21] defuse commented on #41
Also segfaults on

[code]

(Debian Wheezy)

[2015-03-04 16:22] ircmaxell commented on #41
It's a bug in PHP (obviously). Though not sure how to fix it...

[2015-03-04 16:25] sarciszewski commented on #41
Hmm. What is PHP doing under the hood to cause the segfault? (I'm not great at lower-level debugging.) Is this worth opening a report on bugs.php.net or what?

[2015-03-04 16:25] defuse commented on #41
Here's a minimal script to reproduce the segfault:

[code]

(For whatever reason both the try-catch and the throw at the end are necessary, if you remove either one it won't segfault).

[2015-03-04 16:26] ircmaxell commented on #41
It's a bug in the garbage collector

[2015-03-04 16:28] sarciszewski commented on #49
That depends on your threat model. Anyone who gets your key can decrypt everything. In other words, using the same key offers no forward secrecy; for that, use something like libsodium to negotiate ephemeral symmetric encryption keys from a public key exchange authenticated by long-term (pinned) keypairs.

Since the library uses CBC mode with a random IV, the key reuse isn't an issue for just stor

[2015-03-04 16:29] ircmaxell commented on #41
For the record, it works fine in 7 :-)

[2015-03-04 16:32] davidcroda commented on #49
Ok, fantastic. That's exactly what I needed to know.  I figured I was missing something.

Thanks very much for the answers and for the excellent library!

[2015-03-04 16:32] #49 closed

[2015-03-04 16:32] sarciszewski commented on #41
[code]

[2015-03-04 17:02] mfn commented on #48
Yes, I apologize for this straight suggestion. Only later, after reading the source code more thoroughly, the actual intention of the library occurred to me.

I think a major pro for something like composer is the benefit of easy/automatic updating of the users of this library. Not saying there are bugs in it, but especially for security, being up to date is very important.

[2015-03-06 16:06] defuse commented on #41
Okay, so given that that won't work, we're left with either the recursion hack or pre-instantiated exceptions.

Arguments for the recursion hack: The stack trace isn't outright lying, the entire trace is still available via `var_dump($ex)` (including keys), and it's not wasting resources until an exception needs to be thrown (but then it's generating a huge exception).

Arguments for pre-instantia

[2015-03-06 16:14] sarciszewski commented on #41
And then we have the nuclear option: Just use `die()` instead of exceptions. The library won't operate in badly configured environments anyway.

[2015-03-06 16:40] defuse commented on #41
There's legitimate uses of exceptions, for example to inform the client that the ciphertext was tampered with, so `die()`ing instead of raising those could cause vulnerabilities (or could cause attacks to go un-noticed).

[2015-03-14 16:14] defuse commented on #44
This is super high priority now as not being available on composer is stopping people from using it and forcing them to roll their own: https://github.com/Webiny/Framework/issues/39#issuecomment-80329052

In fact, I consider it a security vulnerability if people are rolling their own instead of using this, so I've added the security label.

[2015-03-14 20:31] defuse opened #50 "Namespacing"
Include the crypto class and exception classes inside a namespace so we're less likely to conflict with other code.

[2015-03-14 20:32] defuse commented on #44
Okay, it's now on composer: https://packagist.org/packages/defuse/php-encryption

I didn't do any namespacing due to the urgency of getting this out, but I opened #50 to do that.

[2015-03-14 20:32] #44 closed

[2015-03-14 20:32] defuse commented on #47
Well, it doesn't look like composer/packagist support any sort of signature checking at all... *sigh*.

[2015-03-14 20:34] defuse commented on #48
Opened #50 about namespaces.

[2015-03-15 18:05] defuse commented on #50
This is blocking adoption: https://github.com/Webiny/Framework/issues/39#issuecomment-80982903

[2015-03-15 18:06] defuse commented on #5
This is blocking adoption: https://github.com/Webiny/Framework/issues/39#issuecomment-80982903

[2015-03-15 18:23] SvenAlHamad commented on #5
From what I've read, the `KeyLocker` should do the trick. It will allow the users to pass a password of any length, and then that can be used to generate a key for the `encrypt` method.

[2015-03-26 17:04] sarciszewski opened #51 "Move to AEAD (e.g. AES-GCM)"
Since we're using OpenSSL, can we switch from CBC + HMAC-SHA256 and instead use a built-in AEAD mode? (GCM is the one that I'm envisioning)

[2015-03-26 19:37] xandersherry commented on #51
Unfortunately, the current PHP extension for OpenSSL does not support AEAD modes like GCM, as it has no mechanism to set or return the tag.

[2015-03-26 19:46] sarciszewski commented on #51
http://3v4l.org/CHtkC

You're right. That's very annoying.

[2015-03-26 19:48] #51 closed

[2015-03-26 23:01] defuse opened #52 "Documentation"
The documentation shouldn't be a massive comment at the top of the file (that nobody will read anyway).

[2015-04-01 20:05] xandersherry commented on #48
Once there is support for password-based usage, it should be proposed as an answer to this [How to encrypt in PHP, properly?](http://security.stackexchange.com/q/80888/12) on security.stackexchange.com so it can be socialized to the entire stackoverflow/stackexchange ecosystem.

[2015-04-01 20:21] sarciszewski commented on #48
https://github.com/lizardhq/php_bcrypt_aes uses this and `password_compat()` :)

[2015-04-01 20:54] sarciszewski commented on #34
So, how would we put it in here? In my own toy implementation, ciphertexts looked like this:

`"A1:[base64IV]:[base64ciphertext]:[base64hmac]"`

[2015-04-01 20:58] sarciszewski commented on #5
@defuse Do you want to assign this one to me? :)

[2015-04-01 20:59] sarciszewski commented on #50
Do you want to just use `namespace Defuse/Crypto`?

[2015-04-01 21:00] sarciszewski commented on #48
Also, would you like to submit this to The League of Extraordinary Packages? https://thephpleague.com/

[2015-04-23 16:39] paragonie-scott commented on #48
Would this project benefit from its own website?

[2015-05-12 15:12] sarciszewski commented on #46
https://github.com/defuse/php-encryption/releases This one can be closed ;)

[2015-05-12 15:40] sarciszewski commented on #37
I think this one should be closed now too.

[2015-05-12 15:52] sarciszewski commented on #48
https://github.com/search?l=PHP&o=desc&q=encryption&s=stars&type=Repositories&utf8=%E2%9C%93

[2015-05-14 17:43] mathewpeterson commented on #47
Maybe you could do something similar here: http://fabien.potencier.org/article/73/signing-project-releases

[2015-05-14 17:51] mathewpeterson commented on #50
I would like to suggest complying with PSR-4 instead of just adding a namespace: https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-4-autoloader.md

By adopting psr-4, it would also require separating out the symbols (classes, exceptions) into their own file.

[2015-05-14 18:45] sarciszewski commented on #50
PSR-4 entails a slight refactor. Feel free to assign this to me ;)

[2015-05-14 18:58] sarciszewski commented on #50
- Rule #4: The library should consist of a single PHP file and nothing more.

PSR-4 is not compatible with this goal. PSR-4 compatible namespacing (`Defuse\Crypto\Crypto`) is though.

[2015-05-14 19:53] josephdpurcell commented on #50
@sarciszewski / @defuse, forgive my ignorance, but is there a security reason to not follow PSR standards?

The reason for goal #4 (keeping all classes in a single file) appears to be for ease of use. But, "ease" is not determined by what is easy for `require()` but what is easy for an autoloader. The trend in PHP is to use an autoloader and the composer implementation which follows PSR is already

[2015-05-14 21:08] sarciszewski commented on #50
There are a couple of ways we can do this:

1. Maintain two branches (e.g. `v.1` and `v.2`), the latter which is in PSR-4 format.
2. Fork the project to use PSR-4.
3. Forsake the original Rule 4, acknowledge that everyone is moving towards composer/PSR-4, get with the trends.

I'll leave this decision with @defuse, but I'm fine with either of the three.

[2015-05-14 22:41] anlutro commented on #50
You could use a script that concatenates all classes/functions + a simple bootstrap.php into a single PHP file and distribute that as a binary file with each Github release, or just put it in a dist directory.

[2015-05-14 23:23] defuse commented on #50
I haven't looked at it, but I think we should follow PSR-4. The intent of Rule #4 is not to keep it all in one file, rather it is to make sure you can just place the file (or files) alongside your code and use them. The intent is to avoid having to edit system-wide configurations, install extra software, etc.

So I'm happy with splitting it into multiple files.

[2015-05-15 12:16] sarciszewski commented on #50
Coming soon: Crypto.phar

Joking aside, I'll get on this ASAP.

[2015-05-15 15:12] mathewpeterson commented on #50
Awesome, thank you all for the comments!

[2015-05-15 17:39] bab55z opened #56 "Best Mysql field type to store encrypted data"
Hello!
I am wondering about what is the best type i should choose for the field i use to store the encrypted data, i chose varchar but encrypted data seems to be corrupted after it is stored in mysql. i Planing to use a blob type, is this a good choice and what size should choose also. I planning to encrypt integers only which should not exceed 8 or 9 digits,
my Mysql database uses innoDB engine w

[2015-05-15 18:34] paragonie-scott commented on #56
MySQL tends to munge everything, so I would definitely `base64_encode()` it before storing and `base64_decode()` after retrieving.

[2015-05-15 18:45] bab55z commented on #56
works great! thanks @paragonie-scott

[2015-05-17 02:24] paragonie-scott commented on #39
After #57 is reviewed and merged, I'll create a PR to add stream encryption/decryption (e.g. files). :)

[2015-05-17 02:33] defuse opened #58 "Give Scott Credit in the readme"

[2015-05-18 00:27] paragonie-scott commented on #39
**PoC here, no GTFO required**: https://github.com/paragonie-scott/php-crypto-stream

So, I'll probably need to do some tweaking and cleanup before it's production-viable, but this should facilitate file encrypting/decrypting with whole-file MACing. I call it `LowMemory` because it is my hope that the actual memory usage should remain somewhat constant.

[2015-05-18 10:30] dhope0000 opened #59 "Storing & Retrieving Encrypted Data"
Hello this is my first time posting on Github so excuse me if i format the issue wrong!

 Using the "example.php" provided with the current version i added the following code/statements;

<Generate keys & encrypt the text>

$encode = base64_encode($ciphertext);

$stmt = "INSERT INTO test (test) VALUES (:test)";

$y = $pdo->prepare($stmt);
$y->execute(array(
':test'=> $encode
));

$sth = $pdo->prep

[2015-05-18 11:07] sarciszewski commented on #59
Before the insert query, what is `strlen($encode)`?

After the select query, what is `streln($data)`?

[2015-05-18 12:41] dhope0000 commented on #59
They both have the strlen "88"

[2015-05-18 15:21] bab55z opened #60 "Best way to store the cypher key"
What is the best way to store the key used to encrypt data?

I used base64_encode/decode my cypher key and then save it to a file, but this is not advised according to the crypto class comments.

Thus, I am asking what are or is the best way to store a cypher key to avoid leaks and attacks.

thanks.

[2015-05-18 15:59] sarciszewski commented on #60
There are none yet. I proposed a patch to PHP 7 but it got locked out due to a feature freeze, politics, and processes.

Note to self: create a PHP-land implementation of `Sodium::bin2hex()` and `Sodium::hex2bin()` to solve this problem once and for all.

[2015-05-19 04:46] pnowosie commented on #60
Maybe (#5) KeyLocker could help here a little? So we could protect encryption key with a password.

[2015-05-21 11:33] timoh6 commented on #60
Consider storing the actual key as plain hex-encoded string into the file, and when needing it you hash it and use the raw output as the key for the cipher.

You can hash the hex string with SHA256 and use the raw output as a key (or truncate it to 128 bits for AES-128).

There are no timing leaks with SHA256 hashing.

(this assumes the key is strong and doesn't need stretching)

[2015-05-21 12:06] pnowosie commented on #60
@timoh6, He is already storing the key in the file plaintext. Hex/Base64 encoding does not add security to key storage, and I'm afraid hashing the key to derive another one is pointless. If I got @bab55z correctly, he want to protect the stored key from leaking.

[2015-05-21 12:18] timoh6 commented on #60
@pnowosie The reason to use a hash function is to turn the key into an acceptable encryption key, _without_ needing to perform dubious string decondings (like base64_decode).

To me the question is indeed asking how he can avoid the side-channel leak created by base64_decode (unless I'm missin gsomething).

[2015-05-21 12:31] pnowosie commented on #60
Oh, I missed that text-to-byte decoding could leak information via side-channel, good point @timoh6.
So in this case, key material stored in file can be anything (secure random) and much longer than actual 128 bit key. But still not secure in case of storage...

[2015-05-21 12:45] bab55z commented on #60
it seems like there isn't yet a 100% sure way to safely store the cypher key and avoid leakings!

[2015-05-21 12:46] sarciszewski commented on #60
As soon as PR #57 is reviewed and merged I will be contributing a constant
time bin2hex and hex2bin to this project and encourage its use :)
On May 21, 2015 8:31 AM, "Pawel Nowosielski" <notifications@github.com>
wrote:

[2015-05-27 15:00] spaze commented on #60
I "encode" my keys as PHP strings using the PHP's `\x[0-9A-Fa-f]{1,2}` format so they look like

[code]

And this is how I generate them:

[code]

I believe this is better than any encoding using `hex2bin()` or `base64_decode()`, although I have no real proof, yet.

[2015-05-27 15:08] spaze commented on #60
Also, some frameworks support this `\x[0-9A-Fa-f]{1,2}` format in their config files natively, for example Nette and it's neon format (http://ne-on.org/)

[2015-05-27 15:32] paragonie-scott commented on #60
Sure, you can ASCII escape them. I'm still going to write a constant-time `bin2hex()` and `hex2bin()` to eliminate side-channels, however.

[2015-05-27 15:43] spaze commented on #60
@paragonie-scott Sure, the hex notation is not meant as a replacement of constant-time functions. Looking forward to have the functions ready!

[2015-05-27 22:02] spaze commented on #35
Just for the record, Thomas H. Ptacek says

And

Source [this gist](https://gist.github.com/tqbf/be58d2d39690c3b366ad) linked from [this tweet](https://twitter.com/tqbf/status/602159784624726016).

[2015-06-11 00:48] paragonie-scott commented on #50
I'm happy to say that namespaces have bene implemented.

[2015-06-11 00:57] paragonie-scott commented on #59
Could you pull the latest version and `var_dump()` them?

[2015-06-11 01:35] mathewpeterson commented on #50
@paragonie-scott This looks pretty good.

I did leave a few minor comments in the PR though.

Thanks to everyone who made this happen!

[2015-06-11 01:59] #18 closed

[2015-06-11 01:59] #60 closed

[2015-06-11 02:05] #58 closed

[2015-06-11 02:05] #56 closed

[2015-06-11 02:05] #50 closed

[2015-06-11 02:05] paragonie-scott commented on #16
You can count [password_lock](https://github.com/paragonie/password_lock) as a real-life example.

[2015-06-13 12:10] yellow1912 opened #64 "Encrypt in PHP, decrypt in nodejs and vice versa"
Hi,

I would like to ask a stupid question: I would like to send a crypted message between nodejs and php applications and I would love to use this lib. However, I'm unsure as how I should decrypt the encrypted message in nodejs and vice versa. As I'm a total beginner in this, any pointer would be extremely appreciated.

[2015-06-13 16:32] paragonie-scott commented on #64
I don't believe your question is stupid.

I don't believe there is currently a Node.js library that formats message in the same protocol or uses the same HKDF salts for splitting keys.

I see. Well, maybe we can discuss writing a compatibility library for Node.js after we handle #39 and #34 sufficiently? (I'd like to tag @joepie91 on this, since his knowledge of Node.js security far exceeds mine.)

[2015-06-13 17:49] joepie91 commented on #64
Reporting in :)

[2015-06-14 03:37] yellow1912 commented on #64
That sounds like a great start, I'm neither a nodejs expert (just beginning to learn it due to work requirement) nor a security expert. But if there is anything that I can help with this issue I will be glad to :)

[2015-06-14 16:38] pnowosie commented on #64
I'd be more than happy to help as well. Easy to use, secure encryption lib compatible between popular stacks - sounds great for me ;)

[2015-06-14 19:25] paragonie-scott commented on #64
If we're going to make it stack-agnostic, we'd probably need to finalize the message syntax first w.r.t. #34

[2015-06-14 21:23] adamcaudill commented on #64
*Slightly OT*

I've been working on [SmartEncryption](https://github.com/adamcaudill/SmartEncryption), a secure-by-default crypto library for .NET - @defuse and I had talked about trying to make them compatible, so there's already been some talk of taking this beyond PHP. The main stumbling block was my goal of using AES-GCM, which turns out to be problematic in PHP (one of the goals for SmartEncr

[2015-06-14 21:39] paragonie-scott commented on #64
In the libsodium side of things, there's a discussion going on to [create a PDO-like class abstraction for cryptography](http://news.php.net/php.internals/86396) that's pluggable and supports multiple backends (openssl, libsodium, etc). That's probably more directly orthogonal to SmartEncryption than the efforts here.

Since the purpose of this library is to work without needing PECL extensions (e

[2015-06-14 21:50] adamcaudill commented on #64
@paragonie-scott On the GCM issue, I had already accepted that it created a conflict in goals that make compatibility impossible (at least without one side changing goals), but I thought it worth bringing up that there had already been some discussion of taking this effort beyond PHP.

[2015-06-17 03:43] goldsky commented on #56
this should be in the doc

[2015-06-17 03:59] paragonie-scott commented on #52
We have a couple options:

* [The Github Wiki](https://github.com/defuse/php-encryption/wiki)
* [Gitbook](https://www.gitbook.com/)

I'd like to see what other people prefer working with more.

[2015-06-17 04:35] paragonie-scott commented on #56
@goldsky That's a fair point. We're going to be discussing documentation in #52 if you would like to follow that discussion and weigh in with your own opinions.

[2015-06-17 04:41] paragonie-scott commented on #34
I'd like to propose a migration path.

1. Make sure #63 is good, merge it.
2. Copy `Crypto.php` into `Legacy.php`
3. Add version tagging to `Crypto.php`
4. Add version tagging to `File.php`
5. Make sure the documentation (see #52) explains the migration path.

The final result should be released as `2.0.0`.

Thoughts?

[2015-06-17 04:51] goldsky commented on #52
I'd suggest Github Wiki.

[2015-06-17 12:32] Darkheir commented on #52
I just discovered this github repository but I'd suggest to use the github wiki for the documentation and create a github page to describe the projet : https://pages.github.com/

[2015-06-17 12:33] Darkheir commented on #48
I also agree that submit the project to The League of Extraordinary Packages will give you a good publicity.

[2015-06-18 03:59] goldsky opened #65 "Searching on Encrypted Database"
I've [googled](https://www.google.com/search?q=search+on+encrypted+database) and found theories and [CryptDB](http://css.csail.mit.edu/cryptdb/).

The most sensible approach I found is by indexing keywords and connecting them to the encrypted records, so the searching is actually getting data from those index db, without decrypting the records.

I'd like to hear some thought of the practical way o

[2015-07-01 15:42] TonioParis opened #67 "Basic usage example ?"
I've dowloaded the .zip and installed it (one week ago).
My problem is I don't find the way to use it and I don't find any example on internet.

Could you please add a file to the .zip with an example ?

[2015-07-08 01:37] paragonie-scott opened #68 "Use random_bytes() for key generation!"
For PHP 7.0.0 and above, [`random_bytes()`](https://secure.php.net/random_bytes) should be used instead of [`openssl_random_pseudo_bytes()`](https://github.com/paragonie/random_compat/issues/5) (see issue).

We've written a polyfill called [random_compat](https://github.com/paragonie/random_compat) which should polyfill both APIs here. Would it make sense to consolidate all of the CSPRNG effort in

[2015-07-08 04:54] chriseskow opened #70 "Base exception class (and better error messages)"
Any reason why there isn't a base exception class (or marker interface) that all of the library-specific exceptions inherit from? That would make it trivial to catch any crypto-related exception at once, if we don't care about the details of what happened.

On the same topic, it would be nice if the exceptions were either more numerous and specific to the individual error case, and/or had better e

[2015-07-08 05:05] paragonie-scott commented on #70
See #29 as well :)

[2015-07-17 00:40] paragonie-scott opened #71 "Proposed Version 2.0.0 Roadmap"
After #63 has been reviewed and is merged, we should do #34. My proposal for #34 is as follows:

1. The first N bytes will be reserved for a version tag header. (N = 4, for example.)
2. For `Crypto.php`, we should add a method called `legacyDecrypt()` to retrieve the plaintext of messages encrypted with the 1.x strategy. File encryption/decryption should always be tagged as of the 2.0.0 release, s

[2015-07-17 11:19] im-bart opened #72 "Possible openssl_get_cipher_methods() memory leak"
While batch processing a few thousand Doctrine entities, calling `openssl_get_cipher_methods()` on every `encrypt()` (it's also called from `decrypt()`) causes my application to slow down or hit the memory_limit (obvious work-around is commenting it for now). Any reason (since `$method` is based on constants) this cannot be part of the `runtimeTest()` method? I'm using a single instance and no oth

[2015-07-17 17:06] defuse commented on #72
Yeah, I think we should just have *one* constant, set to `aes-128-cbc`. Separating them makes it seem like it's okay to change them independently, i.e. to `rc4-cbc`, when it isn't. Then we can get rid of that call, and if for some reason someone changes that constant to something bad, the other OpenSSL calls will fail.

[2015-07-17 17:13] defuse opened #73 "Will runtimeTest() only raise an exception once?"
Let's say there's an intermittent problem, i.e. with the random number generator that stops it from working for one call. Let's say the `runtimeTest()` call notices this, and raises an exception. Now, it's in `$test_state = 3`. The next time, it will still be in `$test_state = 3`, and so the tests will re-run. This time, since the problem was intermittent, the tests pass, and now it's in `$test_st

[2015-07-17 17:15] defuse commented on #72
Made the change in 24e85c92efe1dc65645b861852e83cf5c8b7e2ee

[2015-07-17 17:17] defuse commented on #72
@im-bart Can you confirm whether or not the fix solves your issue? Thanks!

[2015-07-17 17:23] defuse commented on #73
I did just that, in b610a2eb82b4538cf0bd.

[2015-07-17 17:23] #73 closed

[2015-07-19 14:33] im-bart commented on #72
Yeah, running `openssl_get_cipher_methods()` once is enough. I've also removed that code from decrypt(), see PR https://github.com/defuse/php-encryption/pull/75

[2015-07-19 17:03] defuse commented on #72
Thanks!

[2015-07-19 17:03] #72 closed

[2015-07-19 17:11] defuse commented on #37
In #74, we removed the 5.2 and 5.3 tests. Re-add them with tests that check that the library isn't doing something dangerous (i.e. it should always throw an exception) on those versions.

[2015-07-19 17:41] defuse commented on #70
I added a base `CryptoException` exception class so that it's possible to catch all three at once. I also added better messages in the places where they're relevant.

[2015-07-19 17:41] #70 closed

[2015-07-19 17:42] defuse commented on #67
There is an example in `example.php`. Is that good enough?

[2015-07-19 17:44] defuse commented on #65
Despite how interesting (and important) searching encrypted databases is, I think it's out of scope for this library at the moment, so I'm going to close this issue.

[2015-07-19 17:44] #65 closed

[2015-07-19 17:45] #67 closed

[2015-07-19 17:46] defuse commented on #59
Closing this because I'm certain it's not a problem with the library. It's amazing how often issues like these come up and it always results from the ciphertext getting corrupted somehow.

[2015-07-19 17:48] defuse opened #76 "ASCII Safe Encoding"
Should we have an option to allow ciphertexts to be encoded in an ASCII-safe way? I'm getting a lot of issues (like #59) and emails where the binaryness is leading to unintentional ciphertext corruption (e.g. going through HTTP post, getting inserted into HTML, etc.). Maybe ASCII-safe ciphertexts should be the default?

[2015-07-19 17:50] defuse commented on #68
What would adding `random_compat` as a dependency look like? How much harder would it make it to get/use this library (both in the case where the user is extracting zip files and in the case where they're using a tool like composer)?

[2015-07-19 17:52] #59 closed

[2015-07-19 17:55] defuse commented on #16
I like password_lock as a real-life example, except that it doesn't demonstrate error handling. Is anyone using this in an actual project (i.e. not as a dependency in another library)?

[2015-07-19 17:57] defuse commented on #38
Closing because

[2015-07-19 17:57] #38 closed

[2015-07-19 18:04] defuse commented on #76
Note that this would *not* solve the problem of MySQL truncating things. Maybe this is better solved via documentation and a FAQ?

[2015-07-19 18:24] paragonie-scott commented on #68
Composer: Easy, one-line patch.

Zip file: Would require some copypasta and adding a line to the autoloader.

[2015-07-20 11:38] chriseskow commented on #70
Thanks!

[2015-07-22 16:04] Rican7 opened #79 "Use of statics prohibits testing/injection/mocking capabilities"
This library uses all static methods, and while some of them make sense, its really too bad that the library's Crypto class can't be used as an injectable instance. Currently, testing services that make use of this library means running expensive crypto hashing algorithms that slow down a unit testing feedback loop.

Switching to non-statics would also allow for certain configurations to be used,

[2015-07-22 17:34] chriseskow commented on #79
In PHP you can call static methods on an object instance, so you can in fact instantiate the Crypto object:

[code]

That said, I agree that instance methods would be better, and it would be great to be able to typehint against an interface and swap out the implementation:

[code]

If statics must be kept for BC purposes, then we can use statics in the interface instead:

[code]

[2015-07-22 17:41] paragonie-scott commented on #79
In PR #78 the `File` class is going to inherit from `\Defuse\Crypto\StreamInterface`.

[2015-07-22 18:53] Rican7 commented on #79
@chriseskow

Yea, that's not so much a rule as it is an implementation detail, though, which is really improper and should be avoided.

Absolutely. That would be ideal.

That shouldn't be necessary. A non-static interface could be created with a delegate implementation to preserve BC, so we can still code against the new style without breaking BC. Something like this:

[code]

[2015-07-22 18:54] Rican7 commented on #79
@paragonie-scott yea, that only covers the `File` class, though, and even then that's still using static methods, which is awkward for the interface usage.

[2015-07-22 18:56] paragonie-scott commented on #79
Here's the thing: Most of the people who **use** this library should **NEVER** swap out an implementation. It's meant to be an opinionated, secure-by-default, "don't stick your fingers in it and mess it up" library that solves a problem that most developers can't be trusted with for them.

I don't know how @defuse feels about making this class implement an interface, because users might think that

[2015-07-22 20:03] Rican7 commented on #79
That would make it even harder to test. :/

[2015-07-22 20:10] paragonie-scott commented on #79
See: https://github.com/defuse/php-encryption/blob/6e13003c1edf28e8b6967a2cf17a5f20053b589a/src/Crypto.php#L37-L50

It's not just *not recommended*, it's something that is strongly discouraged.

If we add an interface, we run the risk that non-crypto-expert developers might think it's okay to ignore this advice and implement their own library that implements the interface, but uses Rindael-256 in

[2015-07-22 20:15] paragonie-scott opened #80 "Create Key container class that prevents user from stupid mistakes"
https://github.com/paragonie/halite_cookie/blob/master/src/Key.php

[Motivation](https://stackoverflow.com/a/30159120/2224584):

[2015-07-22 20:19] joepie91 commented on #80
Elaboration: the easy way should be the correct way.

Thus, something that is potentially unsafe to do without the correct competence level, should be made artificially hard and unintuitive - this will steer away newbies, and create an incentive for them to say "whatever, I'll just use the [secure] default".

[2015-07-22 20:44] chriseskow commented on #79
@paragonie-scott I'm not sure if anyone would be tempted to use this library just for the interface and completely ignore the implementation classes. I think that would be more likely the case if the interface was provided in a separate package or a PSR or something.

Anyway, I do understand your concern about misuse.

[2015-07-22 20:52] paragonie-scott commented on #79
See https://stackoverflow.com/a/30159120/2224584 for more about users going out of their way to not follow best practices.

[2015-07-22 21:08] pulyaevskiy commented on #79
One can always create his/her own `CypherInterface` to abstract from this library and have `DefuseCryptoCipher` implementation and put there whatever logic needed for his/her application. Test it separately, of course.

It seems like all this `static`s are more of an issue for developers of this library, but not really for consumers.

[2015-07-22 21:39] Rican7 commented on #79
@paragonie-scott If someone wanted to skirt the implementation of this library, then they could do that at any time by calling a different method/class/function, haha. Providing an interface doesn't mean that it'll be any "easier" to re-implement the API, it just will make it easier to swap out for a mock when gluing together code that you can't control (like for frameworks). It makes it more re-u

[2015-07-22 21:48] paragonie-scott commented on #79
Sure, once someone has a copy of the code they can surgically alter it to
their heart's content.

I can't speak for Taylor here, I might be way off. Did you see the comments
on the StackOverflow issue I linked before?

Someone was so dead set on using a password that they refused to listen to
reason. That worries me immensely

How do you propose you would use the interface, should it be added? I'm

[2015-07-22 22:01] Rican7 commented on #79
@paragonie-scott as my original issue mentioned, for testing. :)

Quickly typed example:

[code]

[2015-07-22 22:06] Rican7 commented on #79
Again, my real issue is more the fact that this uses static methods than anything else. An interface would just make it easier to code against.

[2015-07-22 22:36] paragonie-scott commented on #79
What if I write a PR that adds an interface and non-static class that looks
like:

    class Concrete implements StringCryptoInterface {
        public function encrypt($message, $key)
        {
            return Crypto::encrypt($message, $key);
        }
    }

That would allow you to mock it without creating a thousand merge conflicts
with the existing PR. Would that satisfy your needs?
On Jul

[2015-07-22 22:56] chriseskow commented on #79
@paragonie-scott Is that any different from @Rican7's `DelegateCrypto` example above?

[2015-07-22 22:59] paragonie-scott commented on #79
I dunno. I'm on my phone which is pretty terrible for code review atm
On Jul 22, 2015 6:56 PM, "Chris Eskow" <notifications@github.com> wrote:

[2015-07-23 01:00] paragonie-scott commented on #79
Upon reflection, nope. :)

I'll draft a PR real quick.

[2015-07-23 01:17] paragonie-scott commented on #79
@Rican7 Apologies, I thought you were recommending that we rewrite Crypto to not use static methods. Having an class we can instantiate that extends an interface so you can mock it doesn't change the underlying library at all and therefore causes no harm that developers aren't already capable of. I see now that I was wholly mistaken.

[2015-07-23 14:26] Rican7 commented on #79
@paragonie-scott No problem, bud! Yea, I was just trying to suggest a way to improve usability (for tests, etc) of the library. Rewriting the `Crypto` class to use non-statics would be a major BC break and would be a headache for the users of the lib. While it might stand the benefit in a major release refactor, it would be harmful to do in 1.x.

I wouldn't say you were wholly mistaken. You brough

[2015-07-24 00:15] paragonie-scott commented on #76
We can make it the default for v2.0.0 easily, and then have a flag for "I want raw binary".

Following this, we have two ways we can go:

1. Hex encode the ciphertexts. We already have `binToHex()` and `hexToBin()` so this is easy. (Thanks @CodesInChaos and @jedisct1 for the libsodium implementation that I referenced!)
2. Use an alternative RFC 4648 encoding scheme (base32, base64) while not intro

[2015-07-27 16:19] hursey013 commented on #16
I am new to web development, so as part of trying to become more proficient at PHP I built a simple frontend for php-encryption called [smokescrn](https://github.com/hursey013/smokescrn/) that provides self destructing encrypted messages.  Here is the relevant code for [encrypting](https://github.com/hursey013/smokescrn/blob/master/encrypt.php#L99-L138) and [decrypting](https://github.com/hursey01

[2015-07-28 09:46] TheStefan opened #83 "Automatic library update check"
First of all, I like this lib very much. I am new to github and this might be a stupid idea or not appropriate to this repo. But i was thinking if an automatic update check would be a possible feature to include. My idea is that the library will periodically check for an update of the library. When the library found a update of itself it could do various things, like automaticly update or block it

[2015-07-28 13:56] pnowosie commented on #16
@hursey013 I like your website it looks really pretty. I'd recommend using Crypto::binToHex() instead of base64_encode() when you store a message. It might make sense for demonstration purposes.

What "SCRN" comes from?

[2015-07-28 13:57] paragonie-scott commented on #16
(I'm assuming it's an abbreviation for screen)

[2015-07-29 01:33] hursey013 commented on #16
@pnowosie thanks for the kind words.  Yes, SCRN is just an abbreviation for screen - it's getting harder and harder to find a good domain name, so I had to get a little creative with the spelling!

I took your suggestion and [implemented binToHex and hexToBin](https://github.com/hursey013/smokescrn/commit/9656a3eba549ae5ac9795bd6b10df8a96be565d7).  I think I made it more difficult than it needed t

[2015-07-29 10:27] salvoselene opened #84 "CannotPerformOperationException not found"
The class name in file CannotPerformOperationException.php misses the Esception end part, i dunno if it's really an error or if i've done something stupid, but renaming the class in the file solves the problem

[2015-07-29 14:40] paragonie-scott commented on #84
Related to this perhaps? https://github.com/defuse/php-encryption/commit/d2c33279e31d5f3d4b74a82139b6ce56d551965b

[2015-07-29 16:15] salvoselene commented on #84
Sorry, i didn't explain well, my fault.
I got a class not found error from line 87 in file Crypto.php

 85       if (self::ourStrlen($key) !== self::KEY_BYTE_SIZE)
 86       {
-87            throw new Ex\CannotPerformOperationException("Key is the wrong size.");
 88       }

Thinked about an error of mine (edited the autoload.php), but then i opened the file
'CannotPerformOperationException.php' a

[2015-07-29 17:05] pnowosie commented on #80
I like this idea, also we would add static method to KeyContainer which derives it from password, like in #5

[2015-07-29 18:58] paragonie-scott commented on #80
The class I referenced has a `derive()` method that uses scrypt (courtesy of Libsodium).

[2015-08-03 09:55] DevarityGames commented on #84
I'm getting the exact same error. I can't even use this now, and I need the library urgently.

[2015-08-03 15:05] NicolasCARPi commented on #52
:+1:

[2015-08-03 16:56] NicolasCARPi commented on #76
Hello, I have to store my passwords as text, because the way I did my config table, it will not accept binary blobs. It says on the file that using bin2hex or base64_encode is bad as it introduces side-channels. Until you guys implement a secure way to transform binary to something you can put in text, I'll base64_encode/bin2hex I guess.
Can you tell me what are those «side-channels» so I can eval

[2015-08-03 16:58] NicolasCARPi commented on #76
Wait, isn't binToHex and hexToBin in the class already good for that purpose ??

[2015-08-04 18:15] paragonie-scott commented on #84
Yep, that was a typo. Should be fixed now.

[2015-08-04 18:16] paragonie-scott commented on #83
An immediate and simple solution: you can use [composer](https://getcomposer.org) to install/update this package. Then when you run `php composer.phar update` it will grab the latest version.

[2015-08-04 18:48] paragonie-scott commented on #76
#78 now defaults to hex encoding. I don't think there's much point adding a more complicated encoding scheme; if anyone wants, they can specify raw and `base64_encode()` it.

[2015-08-04 18:54] paragonie-scott commented on #71
* My Version 2.0.0 pull request is in #78 and should close the following tickets (not automatically however):
    * #34
    * #39
    * #76

If my propsal #80 is accepted, we can encapsulate #5 in that functionality and close that one too. At that point, version 2.0.0 will require an instance of `\Defuse\Crypto\MasterKey`.

I might make this key piece a separate PR once 78 has been reviewed.

[2015-08-24 19:05] paragonie-scott commented on #68
To clarify: I can package random_compat v1.0.0 with the php-encryption v2.0.0 tarball when it's released, and just add it to the composer.json file for Composer users.

(More PHP developers are going to be using Composer as time goes on.)

[2015-08-29 00:02] PeeHaa opened #88 "Roadmap / timeline"
Any roadmap / timeline for a new release?

Not using namespaces is kinda annoying for me.

[2015-08-29 01:04] paragonie-scott commented on #88
I proposed a roadmap in https://github.com/defuse/php-encryption/issues/71 and https://github.com/defuse/php-encryption/pull/78 has a lot of the drastic changes that I'd propose for 2.0.0.

I don't anticipate much pushback on the roadmap, but the timeline is uncertain.

@defuse hasn't had the free time to look at my changes in the past couple of weeks (really super busy) and he's not going to just

[2015-09-03 10:19] wheelsandcogs commented on #52
A lot of projects just put example usage in their README which is usually enough for small libraries. A link to example.php would probably be enough to get peeps started.

[2015-09-03 10:54] wheelsandcogs commented on #52
Also, it really needs some basic advice on how to safely store the encryption keys. In real-world usage the ciphertext is going to either be stored between requests or sent across the wire, so the key (or something that can generate the key) is eventually going to have to be stored in a config file / db.

I found #60 but there doesn't seem to be a conclusion?

[2015-09-03 11:18] wheelsandcogs commented on #41
I really think this is a "Don't try to solve the problem at all" issue.

If the stack trace displays the key in a development environment then it's a non-issue because the developer already has access to the key.

If stack traces are being displayed in a production environment then the developer has bigger problems than leaking a key! As long as this is clear in the documentation then I can't see

[2015-09-07 02:11] paragonie-scott commented on #68
random_compat v1.0.0 is available if you would like to review it before considering its inclusion.

[2015-09-08 12:14] lookitsjonno opened #89 "Length requiremments for DB table columns"
Hello,

I am encoding my ciphertext with Crypto::BinToHex($ciphertext) ready for storage in the database. Is there a way to find out the maximum length that the ciphertext can be? Previously the column that I want to encrypt was a VARCHAR(40).

It would be good if the documentation was updated with a formula to calculate this, otherwise ciphertexts will be cut short.

Jonathan.

[2015-09-08 12:31] paragonie-scott commented on #89
This is going to change if my proposal for 2.0.0 is accepted. Use `TEXT` or `MEDIUMTEXT` if you want an easy answer.

1. The message in raw binary is:
    * 32 bytes MAC
    * 16 bytes IV
    * the message, which is always a multiple of 16 bytes in length
2. Hex encoding doubles the output length.

The best way to figure this out is to run the following code:

[code]

In 2.0.0, there will be a lit

[2015-09-08 13:16] lookitsjonno commented on #89
Thanks for the quick reply, it's refreshing to find an encryption library that is easy to use that follows best practise! :+1:

[2015-09-08 15:20] #89 closed

[2015-09-12 16:18] SebiTimeWaster opened #90 "AES 256 and donations for audit?"
this is not so much an issue but two questions:

1. why not AES 256? i know that AES 128 is secure and that using a 256 bit key length would have a performance impact, but i could imagine that users knowing absolutely nothing about cryptography (so basically everyone, even if they think they know something) could be repelled from using php-encryption because they think it is not secure enough for

[2015-09-13 01:07] paragonie-scott commented on #90
See #35.

I think raising funds to hire someone who isn't me or Defuse to audit this library is a good idea.

[2015-09-18 21:05] paragonie-scott commented on #90
Sidenote: We could change it to use AES-256 in version 2, very easily.

[2015-09-18 23:54] xandersherry commented on #90
For whatever it's worth, I'd be opposed to changing to AES-256.  This library should be an implementation of best practices, not a collection of compromises to cater to common misconceptions. Just my two cents.

[2015-09-18 23:56] paragonie-scott commented on #90
[256-bit AES keys are fine](https://gist.github.com/tqbf/be58d2d39690c3b366ad). So are 128-bit keys.

I was just saying we could do it, not that we should.

[2015-09-19 23:30] larowlan opened #91 "Add a license.txt"
It is unclear from the project repo and code what the exact license is.
I was thinking of building a Drupal module containing this, but there is a restriction on adding third-party code to Drupal.org that isn't GPL2 compatible.

Can you clarify the license via a LICENSE.txt?

[2015-09-20 01:14] jerrygrey commented on #91
There is a license in [the PHP file](https://github.com/defuse/php-encryption/blob/master/src/Crypto.php), if that helps.

[2015-09-20 01:21] larowlan commented on #91
Thanks!

[2015-09-20 01:21] #91 closed

[2015-09-21 04:54] badjava commented on #91
@larowlan FYI there is a Drupal module using this already:

https://www.drupal.org/project/real_aes

[2015-09-21 05:06] larowlan commented on #91
Nice!

On 21 September 2015 at 14:54, Chad DeGroot <notifications@github.com>
wrote:

--
Lee Rowlands
Senior Drupal Developer
PreviousNext
skype: larowlan
email: larowlan@previousnext.com.au

[2015-10-12 00:51] paragonie-scott commented on #35
Hi @spaze, I don't think @tqbf was being *inclusive* when he said "key sizes under 128 bits".

[2015-10-12 01:15] tqbf commented on #35
I don't have the context for this discussion but will wrap up my (mercifully for all of us brief) involvement by saying I do not have any opinion whatsoever on whether you should use AES-128 or AES-256. I don't even know what system we're talking about and I still feel comfortable asserting that the 128/256 issue is not ever going to be what gets this system compromised.

[2015-10-12 01:24] paragonie-scott opened #93 "Version 2 - use CTR mode?"
Per [Thomas Ptacek](https://twitter.com/tqbf/status/653379188460752896).

Since my proposal for version 2 is already changing the protocol (with a `legacyDecrypt()` function so people can migrate to 2.0.0) by adding version tagging, and HKDF salting, should we also consider upgrading to AES-128-CTR? (Or even AES-256-CTR if people *really* want it? It's not a meaningful distinction for me.)

With H

[2015-10-12 01:30] defuse commented on #93
+1 on using CTR mode everywhere if we're already using it in at least one place. Then we can get rid of the PKCS#7 padding code.

[2015-10-12 01:30] paragonie-scott commented on #93
I'll update #78 then.

[2015-10-12 01:35] spaze commented on #35
Hi @paragonie-scott, agree, I've posted it for the record, so that more opinions (in addition to Solar Designer's one) are in one place. Didn't mean to express anyone's position on keysizes in any way.

[2015-10-12 01:52] #93 closed

[2015-10-12 04:04] paragonie-scott commented on #88
Well, now that random_compat is stable, that's one less headache to deal with.

[2015-10-15 15:56] paragonie-scott commented on #90
So, I'd like to revisit the "collect money for a security audit" point.

Taylor's disqualified from auditing it, because he's the author. I'm disqualified, because I'm the co-author. A lot of infosec companies are charlatans (i.e. the ones that failed [RandomLib](https://github.com/ircmaxell/RandomLib) because one of its many inputs was `mt_rand()`). Some companies have audited applications, only

[2015-10-15 16:05] defuse commented on #90
Having an audit on the horizon makes me much less worried about any security vulnerabilities that may have been introduced by the version 2 changes.

[2015-10-15 16:05] defuse commented on #90
-and that motivates me to get around to looking at them and merging them sooner. :-)

[2015-10-16 05:33] RichardCheung commented on #90
It is true that if I change the key size
[code]
the library will work in AES-256-CBC?

[2015-10-16 05:37] defuse commented on #90
@RichardCheung: No, it won't. The runtime test vectors will fail (and maybe other things).

[2015-10-16 05:39] paragonie-scott commented on #90
@RichardCheung Why do you want to change the key size?

[2015-10-16 05:40] paragonie-scott commented on #80
Note: This is precisely what Halite does, for libsodium users. We can probably punt this to v3.

[2015-10-16 05:41] paragonie-scott commented on #68
And by that, I of course mean v1.0.6. :)

[2015-10-16 17:54] defuse opened #94 "Publish a signed .phar for easy inclusion"
From my experience trying to recommend libsodium, I know that developers *still* expect to be able to use a library by copy/pasting code. Unfortunately, to compete with the plethora easily-copypastable bad crypto code on the internet, we have to support that style of use.

When I'm reviewing v2.0, I need to make sure that we're still competitive in that "market."

[2015-10-16 18:26] defuse opened #95 "Is autoload.php a source of LFI?"
`autoload.php` constructs a path name from a class name and then requires that file. That seems risky. Does it create LFI vulnerabilities somehow? Can attackers invoke that function if there's an unserialize vulnerability?

Would a whitelist, i.e. just a `switch` statement, be enough?

[2015-10-16 18:28] defuse commented on #94
v2.0 doesn't make it much more complicated. We should make documentation that says how to use the library without using composer or anything like that.

[2015-10-16 18:29] defuse commented on #88
I'm going to close this issue since it doesn't have a clearly-defined goal. (By the way, thanks for the namespace feedback! v2.0 is in a namespace)

[2015-10-16 18:29] #88 closed

[2015-10-16 18:29] paragonie-scott commented on #95
I hadn't even considered this to be honest. It wouldn't allow directory traversals but could lead to undefined behavior. A whitelist is in order.

[2015-10-16 18:30] defuse commented on #84
Closing since I think it's fixed (re-open if it isn't)

[2015-10-16 18:30] #84 closed

[2015-10-16 18:34] paragonie-scott commented on #95
#96 is a proposed hardening strategy.

[2015-10-16 18:36] defuse commented on #47
I set up a Qubes laptop for my job and I made a VM for codesigning. Just need to generate some keys and then I can make progress on this. I'd also like @paragonie-scott to sign releases (either 1/2 or 2/2 sigs required, not sure yet), so we should talk about the right way to do that.

[2015-10-16 18:36] defuse commented on #47
As part of this ticket, I really want to try and make sure installing with composer actually checks the signatures... hopefully composer supports code signing.

[2015-10-16 18:37] defuse commented on #83
I'm going to say no to this feature, because it adds a huge new attack surface. Anyone with my code signing keys could secretly and invisibly form a botnet of servers using the library. I don't want to have that kind of power, and nobody should trust me with it.

For a crypto library this size, it's reasonable to expect us to get it right the first time and never have to push a security fix. We're

[2015-10-16 18:37] #83 closed

[2015-10-16 18:41] defuse commented on #80
This is easy to do (literally just add a `Key` class, with methods for serialize/deserialize, and then require all `$key` arguments to be instances of `Key`), and has huge usability benefits, so I want it in v2.0.

[2015-10-16 18:44] defuse commented on #79
I'm not sure what the status of this is, but I'm *not* putting it in the 2.0 milestone.

[2015-10-16 18:45] defuse commented on #76
Excellent. Closing.

[2015-10-16 18:45] #76 closed

[2015-10-16 18:48] defuse commented on #68
Unfortunately, I think using `random_compat` would make it too hard to "copy paste" this library. You'd need to use composer, right?

Is there any security reason not to use `openssl_random_pseudo_bytes()`?

[2015-10-16 18:49] defuse commented on #68
Oh, we could have a script bundle it into a zip file... Hmm... We'll have to think about this (but for now I say no, not in v2.0).

[2015-10-16 18:50] defuse commented on #5
Definitely want derive-key-from-password in v2.0.

This should be independently versioned, so that we can start with PBKDF2 and upgrade to Argon2 (or scrypt) later without the user having to special case that themselves.

[2015-10-16 18:51] defuse commented on #34
This is done.

[2015-10-16 18:51] #34 closed

[2015-10-16 18:51] defuse commented on #39
This is done in v2.0. I'm happy with the API it provides (but still haven't reviewed the crypto code closely enough).

[2015-10-16 18:51] #39 closed

[2015-10-16 18:52] defuse commented on #71
Closing this because it doesn't have a well-defined goal, and I just made a milestone for v2.0 which we can use to track things.

[2015-10-16 18:52] #71 closed

[2015-10-16 18:53] defuse commented on #64
(Not including this in v2.0)

[2015-10-16 18:54] defuse commented on #46
Sweet. I'll still need to sign them though. I don't think github lets you upload signatures to be displayed on that page?

[2015-10-16 18:55] defuse commented on #45
Not including this in 2.0 because if you have pear you probably have pecl and can install libsodium.

[2015-10-16 18:56] defuse commented on #41
I agree, I think we should stop trying to override the exception handler. There's no good solution so we should just document the risk.

[2015-10-16 18:58] defuse opened #97 "Remove the exception handler override"
We overrode exceptions to prevent keys from being displayed in stack traces. Let's not do that anymore, but instead just make the risk clear in the documentation.

[2015-10-16 18:58] defuse commented on #41
Opened #97 to remove the exception handler override. Now this issue can be closed.

[2015-10-16 18:58] #41 closed

[2015-10-16 18:59] defuse opened #98 "Submit to the League of Extraordinary Packages"
After v2.0 release, submit it to that thing.

[2015-10-16 19:00] defuse commented on #48
Everything mentioned in this ticket now has its own ticket, so I'm closing this one.

[2015-10-16 19:00] #48 closed

[2015-10-16 19:01] defuse commented on #52
@sarciszewski We have some things in `/doc/` now -- is that some standardized documentation thing?

[2015-10-16 19:02] paragonie-scott commented on #52
It's a *start*. I wouldn't call it anywhere near complete.

[2015-10-16 19:03] defuse commented on #37
This is like worrying if the color of your bike shed will make it more likely to get broken into. Closing.

[2015-10-16 19:03] #37 closed

[2015-10-16 19:04] defuse commented on #52
Make sure we document that only PHP >= 5.4 is supported, since that's what we're testing.

[2015-10-16 19:05] defuse commented on #16
I'm going to close it since it's part of documentation #52.

[2015-10-16 19:05] #16 closed

[2015-10-16 19:10] defuse commented on #47
Is there a "best practices of code signing" document on the web somewhere? Surely there's something that describes the procedure that Debian/Arch/Bitcoin core devs follow? I should do some research instead of rolling my own.

[2015-10-16 19:11] defuse commented on #80
I'll do this. :)

[2015-10-16 19:13] defuse opened #99 "Switch to AES-256."
We might as well switch to AES-256, even though it isn't necessary.

(I'll do this)

[2015-10-16 19:21] defuse opened #100 "External Security Audit"
We should hire someone unrelated to this library to audit it for security/cryptography bugs. Here are some of our options (thanks to @zooko for advice):
- NCC (formerly iSEC) used to give discounts for open source. We should approach them. I have a contact from when they sponsored the underhanded crypto contest, so I'll do that.
- OTF's red team. They usually audit OTF-funded projects, but at the

[2015-10-16 19:23] defuse opened #101 "Runtime tests in `File`"
`File` should have runtime tests.

[2015-10-16 19:24] defuse opened #102 "Fix documentation to say CTR"
It's all now CTR mode, no CBC, but the docs still say CBC.

[2015-10-16 19:25] defuse opened #103 "Fix exception namespaces in the documentation"
The exception classes in the `catch` blocks of the documentation are missing namespaces.

(It's a good idea to also copy/paste the code and make sure it works).

[2015-10-16 19:26] defuse opened #104 "Make sure ciphertext tampering can't cause any exception other than InvalidCiphertextException"
We don't want the attacker to be able to make the user think the library is broken (and thus switch to something else that's less secure) or anything like that.

[2015-10-16 19:27] defuse opened #105 "Distinguish normal ciphertext and file ciphertext with versions."
Right now, you can't tell if it's a file ciphertext or normal ciphertext if you only have the bytes.

[2015-10-16 19:29] defuse opened #106 "Fix file descriptor leak"
https://github.com/defuse/php-encryption/pull/78#discussion_r42272065

https://github.com/defuse/php-encryption/pull/78#discussion_r42272119

[2015-10-16 19:32] defuse opened #107 "Fix magic number discrepancy"
In one place in the code, it's `D3` and in another it's `DE`.

(I like `DE` more because then it's obvious it starts with `DEF` :-) )

Also, evaluate why the tests didn't fail because of this. Is version number checking broken or something?

[2015-10-16 19:36] defuse opened #108 "Fix PSR-2 Coding Style Errors"
See: https://github.com/defuse/php-encryption/pull/86

Do this before releasing v2.0.

[2015-10-16 19:45] defuse opened #109 "Unit test the shit out of the nonce incrementer."
I want like 9001 unit tests on that thing.

[2015-10-16 19:46] defuse opened #110 "Internal Security Audit"
Before v2.0 release, @defuse will perform an audit of the code.

[2015-10-16 19:46] defuse commented on #90
Everything in this ticket has its own ticket so I'm closing it.

[2015-10-16 19:46] #90 closed

[2015-10-16 19:50] defuse opened #111 "Make the HKDF derivation depend on the version"
Given the same input key, the same auth/enc keys will be generated for both the old version and the new version. We should change the `ENCRYPTION_INFO` and `AUTHENTICATION_INFO` in the new version, just in case there's some weird interaction between the new version and old.

[2015-10-16 19:55] defuse commented on #107
Oh, that's the legacy version. The version number code is really confusing to me (seems to be split between two different places) so I'm going to try and fix that.

[2015-10-16 19:56] defuse commented on #107
Er no, there really is a mixup between 3 and E.

[2015-10-16 20:32] defuse opened #112 "Use a type to store the config, not an array."
An array can silently-ish fail when we look up an entry that doesn't exist. We should instead be calling a method on an object, so that it fails very loudly.

[2015-10-16 20:46] defuse opened #113 "Wrong Exception names"
[code]

That's the wrong name, it's called `CannotPerformOperationException`.

Unfortunately, testing will not discover these errors, so we have to carefully check manually.

[2015-10-16 20:56] defuse opened #114 "In File, length of returned values are not checked."
[code]

None of the code below that checks if `$iv` is actually the correct length, so if `EOF` was encountered (or some other weird condition), we'll get a wrong size IV. The same bug probably exists for other parameters read from the file too.

[2015-10-16 21:22] defuse opened #115 "Malformed ciphertext files can cause `fread` with negative values upon decryption"
I broke the encryption function, so it was generating bad ciphertexts. Then, when the test cases tried to decrypt them, this happened:

As you can see in the output, I added some echos and `$ciphertext_end` is 3 while `$pos` is 36.

[code]

[2015-10-16 21:55] defuse opened #117 "Test cases for backwards compatibility attack prevention"
Ensure

- Trying to decrypt a legacy ciphertext with `decrypt()` generates an exception.
- Test the logic in `getVersionConfigFromHeader()` to make sure the version-greater-than checking logic is correct.

[2015-10-16 22:06] defuse commented on #115
Before fixing this, create a test case that reproduces the problem.

[2015-10-16 22:07] defuse opened #118 "Split the Runtime tests out of Crypto.php"
Over half of the lines in `Crypto.php` are runtime tests. When you're looking at the file, this is extremely distracting. Move these into a new file.

[2015-10-16 22:15] defuse commented on #118
Did this as part of #116. Close this ticket after that's landed.

[2015-10-16 22:28] defuse commented on #111
This is done in #116, close it once that's landed.

[2015-10-16 22:30] defuse commented on #107
This is fixed in #116, close it when that's landed, AFTER finding out why the test cases didn't catch this.

[2015-10-16 22:33] defuse opened #119 "Use PHPUnit for tests"
What we're doing for tests currently is not scalable.

@paragonie-scott: Is it okay if I violate the GPL and copy https://github.com/paragonie/halite/blob/master/test/phpunit.sh into this project?

[2015-10-16 22:34] defuse commented on #119
Wait, that wouldn't be violating the GPL, since the script is its own source code, so there's no problem with bundling it.

[2015-10-16 23:04] defuse opened #120 "incrementCounter is incorrect"
From the test case I'm writing:

[code]

Not good!

[2015-10-16 23:05] defuse commented on #120
It's probably because of the `++$inc`. I'm going to re-write it.

[2015-10-16 23:14] defuse opened #121 "Add some defense-in-depth to incrementCounter()"
`incrementCounter()` is such a crucial function that it should check the types and sizes of its arguments. In particular, it should also check that `$inc + 255` is representable an integer (this occurs when the rightmost byte is `0xFF`, and after that we never have to worry about overflow since the sum is shifted right by 8, and the sum in the next iteration can at most increase the number of bits

[2015-10-16 23:15] defuse commented on #120
I fixed this in #116. Close it when that's landed.

[2015-10-17 00:17] defuse commented on #121
This is done in #116.

Reviewer: Before closing, please think if there are any more test cases that should be added!

[2015-10-17 00:52] defuse commented on #119
In #116, all of the tests except for the stream ones are moved into PHPUnit. I also substantially improved the test coverage.

[2015-10-17 00:53] defuse commented on #119
In order to close this ticket, the file tests have to be moved into PHPunit (and expanded to include things like wrong-key decryption, ciphertext tampering, etc.)

[2015-10-17 00:57] defuse commented on #113
The problem is usually the missing `Exception` on the end. Here are the commands to run to check:

[code]

The last command finds search-and-replace errors introduced while fixing this problem before (there are some!).

[2015-10-17 01:03] defuse commented on #113
Here's a command to check for uses of those exception classes without the namespace prefix:

[code]

[2015-10-17 01:05] defuse commented on #113
This is fixed in #116.

[2015-10-17 01:19] defuse commented on #109
Once #116 is merged, I think we'll have `1286` assertions against that one `incrementCounter` call. I think that's enough. :-)

To the reviewer: Please look at the tests and see if you can think of any more test cases!

[2015-10-17 01:20] defuse commented on #105
This is done in #116. We made the magic bytes different. It will give you an invalid ciphertext exception if you try to decrypt with the wrong one.

[2015-10-17 01:25] defuse commented on #106
Done in #116.

[2015-10-17 01:26] defuse commented on #103
Done in #116.

[2015-10-17 01:28] defuse commented on #102
Fixed in #116.

[2015-10-17 01:31] paragonie-scott commented on #99
Doesn't the same NIST document have AES-256-CTR test vectors?

[2015-10-17 01:31] defuse commented on #52
Make sure to document the stacktrace-leaks-your-keys thing, now that the exception handler hack is gone.

[2015-10-17 01:32] defuse commented on #100
Remember to ask the auditor about our exception handler hack, and see if they have any better ideas.

[2015-10-17 01:32] defuse commented on #97
Removed in #116, and added relevant comments to #52 and #100.

[2015-10-17 01:33] defuse commented on #99
Yeah, it should. I have that weird kind of irrational laziness preventing me from opening another tab and searching for it right now. :P

[2015-10-17 01:36] defuse commented on #94
Here's an idea: Let's do something like those javascript libraries do and make a script that packages the whole thing into one php file that you can include.

Oh wait... I think that's called a ".phar" :-)

(I think calling it a ".phar" might scare people off, though, thinking it's some special PHP thing that isn't built into the default PHP?)

[2015-10-17 01:41] paragonie-scott commented on #99
## F.5.6 CTR-AES256.Decrypt

    Key
		603deb1015ca71be2b73aef0857d7781
        1f352c073b6108d72d9810a30914dff4

	Init. Counter
		f0f1f2f3f4f5f6f7f8f9fafbfcfdfeff

#### `Block #1`

	Input Block
		f0f1f2f3f4f5f6f7f8f9fafbfcfdfeff
    Output Block
		0bdf7df1591716335e9a8b15c860c502
	Ciphertext
		601ec313775789a5b7a7f504bbf3d228
    Plaintext
		6bc1bee22e409f96e93d7e117393172a

#### `Block #2`

	Inp

[2015-10-17 01:42] defuse commented on #99
Thanks!

[2015-10-17 02:00] defuse commented on #99
This is done in #116.

[2015-10-17 02:14] defuse opened #122 "PHPUnit needs PHP >= 5.6 so Travis is broken on older versions."
For example: https://travis-ci.org/defuse/php-encryption/jobs/85855211

[code]

Fuck.

Is there an older version of PHPUnit that works on 5.4?

[2015-10-17 03:07] paragonie-scott commented on #122
Yes. Hold on. Someone made a similar patch to one of my projects.

[2015-10-17 03:08] paragonie-scott commented on #122
https://github.com/paragonie/random_compat/blob/master/tests/phpunit.sh#L39-L53

[2015-10-17 03:13] paragonie-scott commented on #121
Aside from the failure caused by #22 (and possibly any errors that failure is hiding), this looks very good to me. I like the way you organize everything. :+1:

[2015-10-17 03:14] paragonie-scott commented on #119
Even if you *were* violating GPL here, I'd release it to you under WTFPL.

[2015-10-17 03:15] paragonie-scott commented on #117
I should note that the file headers are included in the HMAC, so tampering with that should return an InvalidCiphertextException.

[2015-10-17 03:16] paragonie-scott commented on #114
Feel free to copy https://github.com/paragonie/halite/blob/b202f427062c29566b6ae09b1ee72b2bc1746d61/src/File.php#L667-L695 for file reads.

[2015-10-17 03:17] paragonie-scott commented on #114
(Aside: I'm going to create a congruent method in Halite for file writes.)

[2015-10-17 03:17] paragonie-scott commented on #112
Yeah, that makes a lot more sense.

[2015-10-17 03:17] paragonie-scott commented on #110
As will I, to the best of my ability. :)

[2015-10-17 03:20] paragonie-scott commented on #98
:+1: cc @alexbilbie

[2015-10-17 03:20] defuse commented on #122
Thank you! Fixed.

[2015-10-17 03:21] paragonie-scott commented on #97
Also, using a key object rather than a string might prevent that from leaking in every area other than the stack trace triggered by the key object's constructor. :)

[2015-10-17 03:22] paragonie-scott commented on #94
This is a library, not an API endpoint. You can include it from a PHP script and it will execute the stub.

I can create the build script for this. I'm already doing those for another secret project, and we can use [Pharaoh](https://github.com/paragonie/pharaoh) to verify their reproducibility.

[2015-10-17 03:24] paragonie-scott commented on #64
Once v2.0 is done, I can work on a compatible npm module (which can in turn be used in Electron apps).

[2015-10-17 03:47] paragonie-scott commented on #5
Feel free to copypasta this: https://github.com/sarciszewski/php-future/blob/be8ef2346341c90e50066db2e6e7be1ea469889d/src/Security.php#L53-L90

I took your old PBKDF2 code and made it PSR-2 compliant (mostly explicitly adding braces after `if` statements).

[2015-10-17 05:09] defuse commented on #80
This is done in #116.

[2015-10-17 05:10] defuse commented on #5
Now that we have the `Key` interface this is absolutely necessary for 2.0, since without it there's no way to use a key derived from a passphrase!

[2015-10-17 05:11] defuse commented on #122
Confirmed fixed.

[2015-10-17 05:11] #122 closed

[2015-10-17 17:34] defuse commented on #117
See here for a great example of a backwards compatibility attack that bypassed TLS's MAC over the entire conversation: https://weakdh.org/imperfect-forward-secrecy-ccs15.pdf (logjam). For us the potential threat is:

1. In some version X, we discover that the MAC key is weak, or the hash function used in that version is broken.
2. We fix that in version X+1 but still allow decryption of version-X

[2015-10-17 17:35] defuse commented on #97
Good point! I'll test that.

[2015-10-17 18:20] defuse commented on #112
Here's *exactly* why this is important:

https://github.com/defuse/php-encryption/commit/6e72941a8a96e237cc1a493dd48031e10c0b7047

Had I not caught that bug while writing unit tests, it would've been possible to change a ciphertext's header to say version "0.0", and it would've tried to use a null config (probably making it possible to forge ciphertexts).

[2015-10-17 18:26] defuse commented on #117
The unit tests I wrote for this caught a security bug! Good thing I wrote them.

[2015-10-17 19:22] defuse opened #123 "Verify that padding is stripped off correctly when decrypting legacy ciphertexts"
Looking at the code, OpenSSL would have to use PKCS#7 by default for decrypting CBC mode. Is that what it does?

[2015-10-17 19:22] defuse commented on #123
(There's a test case that checks decryption works, but I want to understand why it's working on the code level.)

[2015-10-17 19:27] defuse opened #124 "Get rid of the config system"
Old title of this issue: The 'BLOCK_SIZE' config option is unused for normal encryption

It's never used. The code calls `openssl_cipher_iv_length()` instead.

(It is used for file encryption).

Either use it, or remove it.

Evaluate whether the file encryption could just use `openssl_cipher_iv_length()` too and then we can get rid of it from both of them.

[2015-10-17 20:02] defuse commented on #112
Done in #116.

[2015-10-18 19:12] paragonie-scott opened #125 "Prevent Partial Reads and Writes"
See also: [Halite's `File::readBytes()` and `File::writeBytes()`](https://github.com/paragonie/halite/blob/ee5e92ee65dfebf26b7d8c559921ce2a5d4cf76c/src/File.php#L973-L1041) API for reference.

This could greatly reduce the amount of `if ($result === false)` lines by making a separate method for stream reading/writing that throws an exception if it can't proceed.

[2015-10-19 06:14] paragonie-scott commented on #123
Yes, [OpenSSL does PKCS#7 padding for you](https://3v4l.org/X1nPu).

[2015-10-19 06:18] defuse commented on #123
Awesome! And great way of demonstrating it.

[2015-10-19 06:18] #123 closed

[2015-10-19 06:21] #121 closed

[2015-10-19 06:22] defuse commented on #121
I think the tests are pretty good. The internal and external audits should give good coverage of this function and suggest more tests if there are any to be made.

[2015-10-19 06:23] defuse commented on #120
I rewrote it and it's heavily tested. Closing.

[2015-10-19 06:23] #120 closed

[2015-10-19 06:23] #118 closed

[2015-10-19 06:23] #117 closed

[2015-10-19 06:23] #113 closed

[2015-10-19 06:24] #112 closed

[2015-10-19 06:24] #111 closed

[2015-10-19 06:24] #109 closed

[2015-10-19 06:24] defuse commented on #107
I'm not closing this yet because I still want to know why the unit tests didn't catch it.

[2015-10-19 06:25] #106 closed

[2015-10-19 06:25] #105 closed

[2015-10-19 06:25] #103 closed

[2015-10-19 06:25] #102 closed

[2015-10-19 06:25] #99 closed

[2015-10-19 06:26] defuse opened #126 "Decide whether or not to make a StackTraceProtector object for keys."
@paragonie-scott commented: https://github.com/defuse/php-encryption/issues/97#issuecomment-148881544

That's a good point. We should see if it's correct, and if not see if there's any way to structure the key object that would make it correct.

[2015-10-19 06:27] defuse commented on #97
Opened #126 to test that.

[2015-10-19 06:27] #97 closed

[2015-10-19 06:27] #80 closed

[2015-10-19 06:30] defuse commented on #119
We're now using PHPunit for tests (except for the runtime tests)! Yay!

[2015-10-19 06:30] #119 closed

[2015-10-19 06:38] defuse commented on #107
Here's why the tests didn't fail:

[code]

The constant-time comparison was incorrect (should have had `ord()`, but instead was xoring strings, and apparently (`php -r 'echo 0 ^ "test";'` => 0) an integer xor a string is the integer, unchanged. An easy-to-miss bug!

I'm now satisfied and am closing this issue.

[2015-10-19 06:38] #107 closed

[2015-10-19 06:51] defuse commented on #126
[Awesome, it works!](https://3v4l.org/Abue1)

So: As long as we're not deep enough down (i.e. we haven't stripped the key out of the Key object or passed one of the derived keys as an argument yet) it won't get leaked.

Is it worth making an internal `StackTraceProtector` class that just holds an arbitrary variable in a private member and using that for all the keys?

[2015-10-19 06:53] defuse commented on #5
I thought up a few API designs for this. I'm not too happy with their usability (it's hard because of the interaction with a salt that has to be saved, *and* getting the key loaded into a Key class). Before I pick one, what are your ideas?

[2015-10-19 06:57] defuse commented on #5
(Note that we *also* want to version the salt/algorithm, so that we can easily upgrade to Argon2 once it's available in PHP)

[2015-10-19 12:56] paragonie-scott commented on #126
There's also this, but I think a lot of people would get upset if we actually used this: https://3v4l.org/454gF

[2015-10-19 13:50] enygma commented on #98
:shipit: :+1:

[2015-10-19 13:52] alexbilbie commented on #98
Can you submit it to the [League mailing list](https://groups.google.com/forum/#!forum/thephpleague) please

[2015-10-19 13:55] paragonie-scott commented on #5
Well, there's really no avoiding having `($password, $salt)` in the derivation API.

Take a look at [what libsodium does](https://paragonie.com/book/pecl-libsodium/read/07-password-hashing.md):

* `crypto_pwhash()`, `crypto_pwhash_str()`, and `crypto_pwhash_str_verify()` are reserved for Argon2i
* `crypto_pwhash_scryptsalsa208sha256*` is exposed in the current version

If we want to follow their e

[2015-10-19 16:08] defuse commented on #125
That looks good. I'll take it and modify it to fit within this project. Thanks!

[2015-10-19 16:10] defuse commented on #126
That's clever. Why do you think people would get upset?

[2015-10-19 16:11] defuse commented on #125
Oh there might already be a PR for this issue.

[2015-10-19 16:16] defuse commented on #5
I want to abstract away the salt, so that there are two distinct operations:

1. Creating a key from a password for the first time (we generate a random salt).
2. Re-createing the key from a password (and some abstracted-away salt state pulled from the DB).

i.e. like the usual password hashing API, where the user is never responsible for generating a salt.

(which looks like the second option abo

[2015-10-19 16:20] paragonie-scott commented on #125
Yeah, I made #129 a few hours ago. :P

[2015-10-19 16:20] paragonie-scott commented on #126
It's abusing a language feature, it's an antipattern, it violates our purist sense of morality, it's "magic", it's witchcraft. Any or all of the above.

[2015-10-19 16:33] defuse commented on #126
All of those heuristics (like don't do crazy shit, don't violate purist senses of morality, don't use magic etc.) are simply tools used in practice to make it more likely the complex code you're writing is correct. If we eschew them, we should have an indepndent argument for correctness, so:

1. Is it guaranteed to always return the correct value? (I think this is obvious, since otherwise static v

[2015-10-19 16:35] paragonie-scott commented on #126
1. Barring a memory corruption vulnerability that clobbers the zval, yes.
2. Unless the exception is triggered by `key()`, it should never be leaked.
3. I'd ask the folks who maintain xdebug if they have a way to look into the staticvars in a function or method, but I'm inclined to say "no".

Bonus: We could add a destructor that zeroes it from memory. :)

[2015-10-19 18:55] paragonie-scott commented on #126
Updated: https://3v4l.org/UrndH

Uses `spl_object_hash($this)` so two instances of the same object don't clobber each other.

[2015-10-20 04:28] paragonie-scott commented on #46
http://fabien.potencier.org/signing-project-releases.html

[2015-10-20 04:28] paragonie-scott commented on #47
I think one of the problems plaguing the Internet is that such a best practice document does not, in fact, exist.

[2015-10-20 04:48] paragonie-scott commented on #98
https://groups.google.com/forum/#!topic/thephpleague/Qzh4rR442NY Started the conversation here :)

[2015-10-21 16:11] paragonie-scott commented on #125
This is a duplicate of #114

[2015-10-21 16:11] #125 closed

[2015-10-21 16:11] paragonie-scott commented on #114
Should be fixed in #129

[2015-10-21 16:12] paragonie-scott commented on #115
Is this fixed in #116 or can you still trigger this condition?

[2015-10-21 16:20] defuse opened #131 "Make a test case for trying to decrypt an empty file (and random files of various lengths)."
[code]

[2015-10-21 16:21] defuse commented on #131
(Make sure there's a test case for this.)

[2015-10-21 16:21] defuse opened #132 "File still uses old string keys, not Key objects."
The `File` class should only accept keys by way of `Key`.

[2015-10-21 16:22] defuse commented on #115
I did not fix it. I tried to reproduce it and instead ended up with https://github.com/defuse/php-encryption/issues/131. I'll try to find a way to reproduce this specific issue.

[2015-10-21 16:24] defuse opened #133 "Testing of `File` is insufficient."
While trying to reproduce another issue, I added a `return;` line after the `encryptResource()` call in `encryptFile()`. The tests for file didn't catch this!

[2015-10-21 16:33] defuse commented on #115
Ok, here's how to reproduce it:

[code]

In the error message, you can see:

[code]

[2015-10-21 16:41] defuse opened #134 "Use only pure streaming operations, except for one rewind."
The `File` encryption and decryption make heavy use of `ftell()` to measure file sizes and get the current position within the file. Does this make it vulnerable to any sort of TOCTTOU attacks?

Some ideas:

- What if we've opened a file in read-only mode and some other process has it open in append-only mode, and the size changes after we've measured it?
- Others?

What guarantees does "the opera

[2015-10-30 18:33] paragonie-scott commented on #134
I wonder if we could use [`flock()`](https://secure.php.net/manual/en/function.flock.php) too? :)

[2015-10-30 18:50] defuse commented on #134
`flock()` is a different sort of thing. It doesn't actually give you exclusive rights to the file, it's more of a voluntary advisory thing.

[2015-10-30 18:51] paragonie-scott commented on #134
Seems like a mostly useless feature then. Hmm.

[2015-10-30 18:52] paragonie-scott commented on #134
Could we abstract everything into a stream object? Keep track of the file size and position without relying on `ftell()` etc.?

[2015-11-02 08:50] paragonie-scott commented on #134
For example: https://github.com/paragonie/halite/commit/e8c3e3b0893c504cb73d262e41b229d71aae7f1d

https://github.com/paragonie/halite/blob/master/src/Stream/ReadOnlyFile.php

[2015-11-10 03:28] paragonie-scott opened #135 "HMAC-SHA512?"
AES-128 and SHA-256 both have a 128-bit security level.

Since we're climbing up from AES-128-CBC to AES-256-CTR, would it also be worthwhile to upgrade to HMAC-SHA-512 if for no other reason than to have a consistent security level of 256 bits?

[2015-11-10 23:03] defuse commented on #135
I was thinking about that, but then I remembered MACs have the same security as their output length (not half, since you can't birthday a MAC).

[2015-11-11 22:38] #135 closed

[2015-11-20 13:05] pnowosie commented on #47
@keybase has code-signing feature in it's node client, but now I can see [it's deprecated](https://keybase.io/docs/command_line/code_signing). I mentioned this because they promises something better is coming.

[2015-11-20 15:23] DerMika commented on #34
Hi, I have a question.

I've started implementing an application which uses this encryption library to store encrypted values in a database.

I have added a ~1.2.0 dependency to your library in Composer, but of course I do not want to fall behind on encryption.

Will I run into problems with my encrypted data when I upgrade to the 2.0.0 release, or will there be a way to migrate my data when upgra

[2015-11-20 20:59] defuse opened #136 "Increase salt size to 32 bytes"
The salt for HKDF should be 32 bytes, not 16, because for a fixed user-provided key, we want the full AES-256 keyspace to be available. See also:

http://blog.cr.yp.to/20151120-batchattacks.html

[2015-11-20 21:06] paragonie-scott commented on #136
#137

[2015-11-20 22:56] paragonie-scott commented on #135
Another point to consider: Length-extension attacks.

The only SHA2-family hash function that isn't known to be vulnerable, that is also available in PHP, is SHA-384.

Should we consider this at all anywhere?

[2015-11-21 00:31] defuse commented on #135
I don't think so. HMAC and HKDF's security is based on collision resistance (roughly), so length extensions don't hurt us.

[2015-12-07 15:40] defuse opened #138 "Use "downgradable" notion to deal with backwards compatibility vulns"
A version is "downgradable" if that version number does not properly authenticate the version number included in the ciphertext. Downgradable versions create backwards compatibility vulnerabilities: The attacker can transform a ciphertext from a non-downgradable version into the ciphertext of a downgradable version.

A nice way to handle this is to bake in a list of versions that are known to be "

[2015-12-10 17:12] defuse commented on #64
I want to focus this project on compatibility with itself inside PHP. If you want compatibility across languages, then I recommend libsodium (or Halite). I think it would be a mistake for this project to compete with libsodium that way. If we did, there would be two common ciphertext message formats floating around: the php-encryption one and the libsodium one. That would actually make overall com

[2015-12-10 17:12] #64 closed

[2015-12-10 17:14] defuse commented on #136
This was done in #137.

[2015-12-10 17:14] #136 closed

[2015-12-10 17:16] paragonie-scott commented on #68
(I can make the .phar builder include this in the bundle, too.)

[2015-12-10 17:19] paragonie-scott commented on #132
PR incoming soon :)

[2015-12-10 17:23] defuse commented on #68
Let's plan to support it for 2.1 but not do it quite yet.

[2015-12-10 18:13] paragonie-scott opened #141 "Travis is failing: "This version of PHPUnit is not supported on PHP 7.""

[2015-12-10 18:14] paragonie-scott commented on #132
I ended up folding this into #129 via https://github.com/paragonie/php-encryption/commit/3017bf5d4a885f4f9ce6024eb8c23e6491f63578

[2015-12-10 18:16] paragonie-scott commented on #141
I wonder if `$PHP_VERSION` is being set properly to `70000`?

[2015-12-10 18:40] paragonie-scott commented on #133
https://github.com/paragonie/php-encryption/commit/081f0101c680b097d34c0a3374d8e2f4ffb47c3a

[2015-12-10 18:43] defuse commented on #141
Wasn't there a thing where we have to download the right version of phpunit depending on the version?

[2015-12-10 18:45] defuse commented on #132
Feel free to add the review-needed label to the ticket once there's a PR open, btw. It's awesome to look at the ticket list and see all of the things that are about to be finished :)

[2015-12-10 18:46] defuse commented on #132
It'll also motivate me to review the PR.

[2015-12-10 18:48] paragonie-scott commented on #95
#140

[2015-12-10 19:06] paragonie-scott commented on #141
#142 should fix it.

[2015-12-10 23:09] #141 closed

[2015-12-10 23:22] paragonie-scott commented on #94
#139 should solve this :)

[2015-12-11 07:04] defuse commented on #134
This is going to (probably) be fixed in the newer commit, but I want to take a look at the whole thing, not just diffs, before I close it.

[2015-12-11 07:04] defuse commented on #95
Fixed.

[2015-12-11 07:04] #95 closed

[2015-12-12 06:18] defuse commented on #133
Hmmm... On second thought, maybe I don't want the tests to have caught those bugs. That bug is hard to catch, since it's only a resource leak. Now the interface sort of tricks the user into thinking they need to check the return value when they don't. But there are other higher priority things so I'm going to accept it.

[2015-12-12 06:18] #133 closed

[2015-12-12 06:19] paragonie-scott commented on #133
Shall I send a PR to remove the return statements?

[2015-12-12 06:19] defuse opened #144 "Convert File tests to PHPUnit"
The file tests are currently individual PHP files inside `test/stream`. It would be nice if they were all converted to PHPUnit tests. That could be difficult, but I think worth doing.

[2015-12-12 06:19] defuse commented on #132
This is done

[2015-12-12 06:19] #132 closed

[2015-12-12 06:26] defuse opened #145 "Make sure invalid file ciphertexts always throw InvalidCiphertextException"
Right now, it seems like an invalid ciphertext could cause a throw of `CannotPerformOperationException`, by causing `readBytes()` to try and read past the end of the file.

One way to do this is to have `readBytes()` take a boolean flag called `$readingCiphertext`, such that, if true, it throws an InvalidCiphertextException, and otherwise it throws an `CannotPerform...`

[2015-12-12 06:26] defuse commented on #114
This looks good, except for the issue in #145.

[2015-12-12 06:26] #114 closed

[2015-12-12 06:27] defuse commented on #145
Before fixing this, answer the question: Is it actually possible for a malformed ciphertext to cause this to throw? Or is it *always* a race condition or something that'll do it? If the latter, then we don't need to change the exception.

[2015-12-12 06:28] defuse commented on #145
Ugh, there's a confounding problem which is that the file I/O could actually fail, and in that case we wouldn't want to throw an invalid ciphertext exception. So... we have to make sure that the contents/length of the ciphertext file can't cause this exception to be thrown.

[2015-12-12 06:31] defuse commented on #145
Wait it's easy to distinguish them: If `fread()` fails, it's an I/O error, but if we reach feof() early it's an invalid ciphertext. And `readBytes()` already distinguishes those two cases. So the boolean flag thing might work.

[2015-12-12 06:32] defuse commented on #145
What if the ciphertext is fine and the I/O fails *just* before the call to feof()? If `feof()` would return false, then what I said above doesn't work. Hopefully only an attempt at reading can change the error state.

[2015-12-12 06:36] defuse commented on #138
Right now we say everything below a minimum version is "downgradable." Since we only have the old and the new versions, this is actually doing what we want even if not in the best way. The better way would be to have a "downgradable" version array, and refuse to decrypt any versions in that array. It would be safe to decrypt any versions that weren't downgradable.

In any case, we don't need to do

[2015-12-12 06:43] defuse commented on #134
It's much better now, but we're still using fstat and ftell to know when to pass the different length argument to readBytes. Hmm... Maybe readBytes() should just tell its caller when its reached EOF, so that we can check that and know when to stop. Then, it would be *entirely* stream based, and the only "weird" operation would be a simple rewind back to the beginning.

[2015-12-12 06:44] defuse commented on #134
readBytes telling the caller about EOF also makes it super easy to fix #145.

[2015-12-12 06:50] defuse commented on #131
Pretty sure this is fixed now. Just need to make sure there's a test case.

[2015-12-12 06:53] defuse opened #146 "The Key class is confused between normal encryption and file encryption"
The Key class takes version numbers of normal encryption. Right now the file encryption thing is broken because `File::createNewRandomKey()` still returns a string, not a Key object. We need to either make a different Key class for file encryption, or somehow unify the versioning scheme so it can understand both.

[2015-12-12 06:54] defuse commented on #126
We're already doing this (the `Key` class) so this can be closed.

[2015-12-12 06:54] #126 closed

[2015-12-12 06:57] defuse commented on #115
This is still a problem.

[code]

[2015-12-12 07:01] paragonie-scott commented on #146
I'd be fine with either approach, but creating a separate key for file encryption might lead to better habits (but then again, this would come at the cost of UX).

[2015-12-12 07:02] defuse commented on #115
This explains it:

[code]

[code]

So it's a logic error in the way we're using ftell() and stuff. Let's just get rid of `ftell()` and do streaming-only stuff except for one rewind.

[2015-12-12 07:02] defuse commented on #104
Related: #145.

[2015-12-12 07:03] defuse commented on #101
This is more work than it's worth. I'd rather add improvements to the unit tests. Punting it into 2.1.

[2015-12-12 07:04] defuse commented on #79
This will come in 2.1, probably.

[2015-12-12 07:05] defuse commented on #45
This would be nice to have for 2.1.

[2015-12-12 18:50] defuse commented on #146
Wait a second, why is `Crypto.php` passing an argument to `CreateNewRandomKey()`? It doesn't take any arguments.

[2015-12-12 18:54] defuse commented on #146
*sigh*, it's not an error in PHP to pass too many arguments: https://bugs.php.net/bug.php?id=13892

[2015-12-12 18:57] defuse commented on #146
So, I thought for some reason `Key` depended on the encryption's config because it looked like a ciphertext version was getting passed into that call, but I guess it doesn't.

The key class is abstracting a random string of a certain length. There's no reason that it should depend on what it's being used for. So... this isn't a bug?

[2015-12-12 19:00] defuse commented on #144
Make sure to test `File::createNewRandomKey()`. I don't think anything's exersizing that currently.

[2015-12-12 19:47] mtangoo opened #149 "What is maximu size of encrypted text?"
I have limitation on storage so I want to know If I can use defuse library. If I have let say 100chars text and I do encrypt it, what is the Maximum resultant characters?
Thanks

[2015-12-12 19:51] defuse commented on #144
This is done.

[2015-12-12 19:51] #144 closed

[2015-12-12 19:54] defuse commented on #146
We should use the same 'Key' class for both. But what happens if we need to use different key sizes in the future?

[2015-12-12 19:55] defuse opened #150 "Make Crypto and File check that the 'Key' object they are given is big enough"
Key can represent keys of different sizes. The code that uses them should check that the key is the right size, i.e. 32 bytes.

[2015-12-12 19:55] defuse commented on #146
Ok, this isn't a problem. The real problem is #150.

[2015-12-12 19:55] #146 closed

[2015-12-12 19:56] defuse commented on #150
What if we support different key sizes in the future? It'll be confusing, because you'll be able to pass *some* Key objects, but not others. Maybe 'Key' should be called 'Key256'?

[2015-12-12 20:35] defuse commented on #115
There's now a unit test for this added in #148.

[2015-12-12 20:46] defuse commented on #131
This is included in #148.

[2015-12-12 20:47] defuse commented on #145
I added some (failing) tests for this in #148.

[2015-12-12 20:59] defuse commented on #134
Oh... crap. The MAC is at the end. *that's* why we're doing all this crazy fseek() business.

[2015-12-12 21:04] defuse commented on #134
I'm just going to put the MAC at the front since the only argument for putting it at the end is to avoid having to store 32 bytes of state during processing, which is a ridiculous argument.

[2015-12-12 21:05] defuse commented on #134
Oh wait, we don't know the MAC until we've encrypted everything.

[2015-12-12 21:11] defuse commented on #134
We have three options that I can see:

- Spoil the currently fseek-free encryption routine to rewind and fill in the MAC after it's done encrypting, then write a super-clean nearly-fseek-free decrypter.
- Keep the really complicated fseek stuff in the decrypter, and fix all of the logic/arithmetic bugs.
- Keep the fseek-free encryption with the MAC at the end, *and* remove most of the fseeking fro

[2015-12-12 23:40] paragonie-scott commented on #150
Do you foresee any key size other than 256 bits? :)

[2015-12-14 22:49] twistor opened #151 "Ensure all function calls are fully qualified."
Throughout the code, it seems that you're trying to use fully qualified function calls.`\sort()` instead of `sort()` I'm guessing this is so that builtin functions can't be overridden with namespace tricks.

The problem is that this isn't done consistently.

While, it's easy enough to go through the code and find them, it would be better to automate this.

I can whip up a simple PHPUnit test that

[2015-12-15 05:15] paragonie-scott commented on #151
It should be. I apologize if I overlooked any in my commits.

Let's make the code consistent and explicit :+1:

[2015-12-15 05:36] paragonie-scott commented on #149
**Version 1.x**:

[code]
In version 1, you get [152 bytes](https://3v4l.org/aZmJO) of ciphertext. This is raw binary of course. If you want to hex-encode it, double this number (so 304 characters).

**Version 2**:

[code]

Version 2 gets rid of PKCS7 padding (by switching from AES-128-CBC to AES-256-CTR), but adds a 4-byte version tag and a 16-byte HKDF salt, so this adds a small bit of overhead b

[2015-12-15 06:44] twistor commented on #151
Started hacking on something over here.

#153

[2015-12-15 08:43] mtangoo commented on #149
Since its not into production yet, I can go withany version (and hence 2 at your recommendation)
Thanks @paragonie-scott  for clearing this. I really appreciate!

[2015-12-15 08:43] #149 closed

[2015-12-15 09:44] pnowosie commented on #149
Issue was closed, but... just in the name of correctness :) I think formula for version 1.x ciphertext should be
[code]
So ciphertext size is "full" multiplicity of block size. Am I right?

[2015-12-16 04:01] paragonie-scott commented on #149
Probably, yeah. The important thing is that PKCS7 rounds up to the nearest multiple of 16, but if you're exactly at 0, it adds 16 bytes.

[2015-12-21 16:57] paragonie-scott commented on #94
https://stackoverflow.com/questions/34399117/how-to-use-php-defuse

I'm not sure how much clearer we can make things. :(

[2015-12-21 17:21] sethbattin commented on #94
To be honest, the proper usage of this library is not clear.  Although the how-to-use page shows a clear case of using the library exactly one time for a single encrypted item, it doesn't show how to integrate the library into a useful system.

The basic interfaces are straightforward (enough for me to work on #147), but the combined usage is not.  Here are a few questions i had:

* How should key

[2015-12-22 15:10] defuse commented on #150
No, I don't.

[2015-12-22 15:10] defuse commented on #150
Ok yeah, let's just make the `Key` object always require 32 bytes.

I wonder if we should do the HKDF in `Key`, too.

[2015-12-22 15:14] defuse opened #155 "Add methods for predicting ciphertext size"
Examples in #149.

[2015-12-22 15:15] defuse commented on #149
Can we add those functions to the class and add unit tests for them? #155.

[2015-12-22 15:46] defuse commented on #94
Those are definitely questions we should address, maybe in a FAQ document.

[2015-12-24 18:49] stevenmusumeche opened #156 "How to safely encode key for other use?"
I'm attempting to use this library to encrypt a payload that needs to be decrypted on a mobile platform using a pre-shared key.  The documentation says not to call base64_encode, so I'm wondering how I can accomplish this?

[2015-12-24 22:42] paragonie-scott commented on #156
https://github.com/defuse/php-encryption/blob/master/tests/encode.php

Note that version 2 is coming out very soon, so this might be more of interest: https://github.com/defuse/php-encryption/blob/v2.0/src/Encoding.php

[2015-12-28 14:49] paragonie-scott opened #158 "Version 2 - Goals, Security Properties, etc."
At some point, we should identify the advantages of version 2 over version 1, in particular of its security properties.

For example, consider this claim that I'm making about both versions of the library:

-----

* **Version 1**: After encrypting 2^64 blocks with the same key, you could expect a single IV collision. With enough IV collisions, confidentiality is degraded.
* **Version 2**: The addi

[2015-12-31 20:55] indytechcook opened #159 "Recommened Version"
First I want to thank you for your fantastic work.

With version 2 coming out "soon" and version 1.2.1 quite a bit different then master, what version do you currently recommend for use in production?

Stay awesome!

[2015-12-31 21:01] paragonie-scott commented on #159
Version 1.2.1 is fine for general purpose string encryption, for up to about 2^64 messages before per encryption key. (You probably won't hit this limit.) See #158 for details.

Version 2.0.0 will offer an interface (`Crypto::legacyDecrypt()`) to decrypt legacy ciphertexts, so even if you commit to 1.2.1 for now and 2.0.0 comes out immediately after, you can transition between the two.

If you hav

[2015-12-31 21:21] indytechcook commented on #159
Thanks @paragonie-scott for the quick and very helpful response.   I'm encrypting private data (SSN and Job History/Salary info) but only in transit along with TLS with client certificates between hosts.  All the private data will be stored in https://www.truevault.com/.

My needs are simple so I'll stick with 1.2.1 for now and add in your bin2hex functions for encoding/decoding the key.

Thanks a

[2015-12-31 21:21] #159 closed

[2016-01-02 17:54] defuse commented on #158
A big single message containing 2^128 blocks would not be safe, but 2^128 small messages might be. So the claim has to be modified to take into consideration how those blocks are distributed over different messages. I'll have to think about it more.

[2016-01-09 18:36] GenerationLabs opened #160 "Problem Storing Generated Key"
Hi there,
I've been having some issues with testing 2.0 because the createNewRandomKey() returns an object and not a string. I'd like to save my key into a database for later use, but objects aren't allowed.

I'm curious what you would recommend I do?

Currently I get this error with the following code:
[code]

When I attempt to store it to a DB I get:
[code]

In an attempt to possibly use bintoHe

[2016-01-10 01:43] paragonie-scott commented on #160
Have you seen [`Key::saveToAsciiSafeString()`](https://github.com/defuse/php-encryption/blob/a32bc7f256f8c905a7d5087c7a6b76d660bbcbdd/src/Key.php#L205-L216) yet?

[2016-01-30 19:12] robstoll opened #161 "key based on password"
Hi,

I have the following scenario:
- data is saved encrypted in DB
- key for encryption must not be saved directly on the system (in clear text)
- yet, application needs the key to decrypt the data
- hence key shall be saved encrypted based on the users password

therefore I would like to know, how can I generate a key passed on a users password?

Cheers,
Robert

[2016-01-30 19:52] sarciszewski commented on #161
[`hash_pbkdf2()`](https://secure.php.net/hash_pbkdf2).

[2016-01-30 22:23] robstoll commented on #161
and how can I use the generated key with hash_pdkdf2 with your Crypto::encrypt()?

[2016-01-30 22:30] sarciszewski commented on #161
[code]

[2016-01-30 22:32] sarciszewski commented on #161
Also, you want to use a CSPRNG for the salt. `Crypto::createRandomKey()` returns 16 bytes. That should be acceptable. Store that long-term per user.

[2016-01-31 04:07] mctrivia opened #162 "Will not run on xampp"
Tried running example.php and the only thing I get is:

Cannot safely create a key

Running xampp on windows 10.  PHP Version 5.6.8

tests/encode.php  returns:
Fatal error: Call to undefined function openssl_random_pseudo_bytes() in C:\xampp\htdocs\p\tests\encode.php on line 8

[2016-01-31 04:25] kodekrash commented on #162
If openssl_random_pseudo_bytes is undefined, the OpenSSL module for PHP isn't installed.

You can verify this with `extension_loaded( 'openssl' )`

You may also need to install OpenSSL support for Windows.

[2016-01-31 05:32] mctrivia commented on #162
yep that is the problem.  works now.

[2016-01-31 05:32] #162 closed

[2016-01-31 10:58] robstoll commented on #161
Thanks for the quick reply. I should have mentioned that I am using version 2.x of your library. Crypto::encrypt incorporates the following check:
{code}
if (!is_a($key, "\Defuse\Crypto\Key")) {
            throw new Ex\CannotPerformOperationException(
                "The given key is not a valid Key object."
            );
        }
{code}
Hence I need to transform the key generated by hash_pbkd

[2016-01-31 12:40] sstok commented on #161
Use `Key::saveToAsciiSafeString` to convert to the Key object to a string for storing, then use `Key::LoadFromAsciiSafeString` to convert the stored string back to a Key object.

[2016-01-31 12:42] sstok commented on #160
https://github.com/defuse/php-encryption/issues/161#issuecomment-177489467

[2016-01-31 12:48] robstoll commented on #161
@sstok I saw this functionality but it does not help me since I generate the key with hash_pbkdf2 which returns a string (or raw binary data).

[2016-01-31 13:59] robstoll commented on #161
For now I am using the method I added in pull request #163
Please let me know if there is a better way to do this without breaking backward compatibility

[2016-02-01 09:37] pnowosie commented on #161
What you need is a long planed feature #5, not implemented yet in v2.0. Maybe your's PR will push things forward a little.

[2016-02-06 17:33] robstoll opened #165 "encrypt and decrypt empty string"
I am getting the following error
`Defuse\Crypto\Exception\InvalidCiphertextException with message 'Ciphertext is too short.'`
When I do the following:

[code]
Is this a bug? A security precaution? If so, why is it possible to encrypt an empty string in the first place?

[2016-02-07 02:19] paragonie-scott commented on #165
Pull request #166 contains a unit test and patch, should we consider "able to encrypt/decrypt empty strings" to be expected behavior.

[2016-02-07 14:48] robstoll commented on #165
I am no security expert and hence do not know if information is leaked out while encrypting and decrypting empty strings. If that is not the case, then I do not really see why this should not be expected behaviour

[2016-02-07 15:16] paragonie-scott commented on #165
https://3v4l.org/uULd5

[2016-02-07 15:21] robstoll commented on #165
Looks good to me, but I am no security expert. Is there a reason why the library does not support it in the first place?

[2016-02-07 15:31] paragonie-scott commented on #165
That code originally worked on a block cipher in CBC mode, which means the ciphertext size would always be at least 1 block long (16 bytes). Version 2 (which, by the way, you shouldn't be using yet) is switching to CTR mode, which doesn't impose this requirement.

[2016-02-07 15:45] robstoll commented on #165
oh really, is 2.x not stable yet? How easy will it be to migrate from 1.x to 2.x? I am using your library in a new project and do not want to migrate to 2.0 after a year or so

[2016-02-07 15:52] paragonie-scott commented on #165
Nope. It's still a [work in progress](https://github.com/defuse/php-encryption/releases).

We have a [`legacyDecrypt()`](https://github.com/defuse/php-encryption/blob/v2.0/src/Crypto.php#L237-L321) method to decrypt old messages so you can re-encrypt them with the new ciphertext format. But one of the big differences is that, instead of a binary string, the encrypt methods now expect a [`Key`](htt

[2016-02-12 18:05] Kivylius opened #168 "Password encrypting /w cookies"
Yes, you already told us, over and over again **not to encrypt the password**, but I need it as plain-text. Let me explain. I'm creating an email client plugin for a CMS (Drupal), the plugin create IMAP/SMTP connections and must use plain-text, so:

* Assume user is logged in and can access `Email_Client` class
* `name`, `email`, `userinfo`, & `serverdata` stored encrypted on sql.
* `password` sto

[2016-02-12 23:38] paragonie-scott commented on #5
Are we going to use scrypt, or `hash_pbkdf2()` with a polyfill since that's the best we can do from PHP?

[2016-02-12 23:40] paragonie-scott commented on #115
When #148 + #170 are merged, this is fixed.

[2016-02-12 23:42] paragonie-scott commented on #145
Tests pass in #170 ;)

[2016-02-12 23:43] paragonie-scott commented on #150
`$key->split($salt)` perhaps?

[2016-02-13 01:26] defuse commented on #165
Great catch! This is definitely a bug. We should be able to encrypt the empty string!

[2016-02-13 01:27] defuse commented on #165
I'm labeling this as a security bug since success/failure might leak to an attacker whether the string was empty or not, which could in certain situations be meaningful information.

[2016-02-13 01:46] defuse commented on #134
I'm starting to realize my ideal of not using fseek() is unreasonable or even impossible.

[2016-02-13 01:50] defuse opened #174 "I think something is wrong with the v2.0 branch"
In all the pull requests I'm seeing comments I left to review some of scott's commits... so the thing people are basing their work off of must be newer than our current v2.0 branch and I'm very confused.

[2016-02-13 01:50] defuse commented on #174
Oh I see https://github.com/defuse/php-encryption/pull/171

[2016-02-13 01:51] defuse commented on #174
I don't know how to fix it or what's going on, but that's okay. @paragonie-scott Can you write me instructions for how to fix it sometime or just fix it yourself (not today, it's not urgent, and I don't plan to work on v2.0 today so whenever works).

[2016-02-13 07:29] defuse commented on #174
Oh maybe github just thinks those are new commits to merge because the hashes are different.

[2016-02-17 21:48] twistor opened #175 "Make string and file encryption compatible."
It is surprising that I cannot encrypt a string and write it to a file, then decrypt the file as a file.

Ideally, `Crypto::encrypt()` and `Crypto::decrypt()` would just create an in-memory stream and use `File::encryptResource()` and `File::decryptResource()`. That would significantly reduce the surface area as well.

[2016-02-18 00:35] defuse commented on #175
That's not a bad idea... It's been bugging me that there's two separate things each with their own formats to maintain. I was thinking about just dropping the file encryption code altogether, but I might like this idea more.

[2016-02-18 18:07] page3131 opened #176 "Cannot safely perform encryption"
I am not using SSL is this required?
I am using windows 10, PHPv7,fast cgi.
I am runing the example.php and this is the report.

HTML Error: Cannot safely perform encryption

Exception:
Defuse\Crypto\Exception\CannotPerformOperationException Object ( [message:protected] => [string:Exception:private] => [code:protected] => 0 [file:protected] => php-encryption-master\src\Crypto.php [line:protected]

[2016-02-18 20:02] paragonie-scott commented on #176
Are you using master or a stable release?

[2016-02-18 20:14] page3131 commented on #176
On the download page master is selected how to I find the stable?

[2016-02-18 20:17] paragonie-scott commented on #176
https://github.com/defuse/php-encryption/releases/tag/v1.2.1

OR, add this to your composer.json

[code]

[2016-02-18 20:22] page3131 commented on #176
I tried as you suggested and still it is reporting the same error.
looks like a v2 option is available. I downloaded that. It didn't have a example.php but I ran the autoload.php with no errors. I think it is working at this point.

[2016-02-18 20:23] paragonie-scott commented on #176
NO. It's not ready. Use 1.2.1.

[2016-02-18 20:26] page3131 commented on #176
I figured the same file would work in the 2.0 download so I copied it over from the master and it is still giving the same error. I looked in the branch list and didnt see a 1.2.1 to select for download. Seems like i don't know where to look.

[2016-02-18 20:27] paragonie-scott commented on #176
Use [composer](https://getcomposer.org/).

https://packagist.org/packages/defuse/php-encryption

[2016-02-18 20:28] page3131 commented on #176
same file as in php-encryption-master\example.php copied to php-encryption-2.0\example.php
I will check composer.

[2016-02-18 20:41] page3131 commented on #176
this is becoming a challenge I was unable to install composer. to download from the composer server. It reported an error on composer install
--
Some settings on your machine make Composer unable to work properly.
Make sure that you fix the issues listed below and run this script again:

The openssl extension is missing, which means that secure HTTPS transfers are impossible.
If possible you shoul

[2016-02-18 20:44] page3131 commented on #176
i just noticed this https://github.com/defuse/php-encryption/releases/tag/v1.2.1 and downloaded it.

[2016-02-18 20:46] page3131 commented on #176
I did that and got this message. It is probably somthing with my configuration and not your service.
"php\php.7.0.2x64\php.exe" "php-encryption-1.2.1\example.php"
Cannot safely create a key
Done.

[2016-02-18 20:50] page3131 commented on #176
I put a print_r statement in there:

CannotPerformOperationException Object ( [message:protected] => [string:Exception:private] => [code:protected] => 0 [file:protected] => C:\inetpub\wwwroot\personal\toolKit\scripts\php-encryption-1.2.1\Crypto.php [line:protected] => 577 [trace:Exception:private] => Array ( [0] => Array ( [file] => C:\inetpub\wwwroot\personal\toolKit\scripts\php-encryption-1.2.1\

[2016-02-18 21:05] page3131 commented on #176
Is there a specific php.ini setting that needs to be enabled like extension=defuse.dll

[2016-02-18 21:05] paragonie-scott commented on #176
Yes, you need the OpenSSL extension. If you were using Composer, it would block installation until you enabled it.

[2016-02-19 06:33] aadimator opened #177 "File::createNewRandomKey() problem"
I have been having difficulty using the createNewRandomKey() in the File class. It returns a string and I get an error complaining that encryptFile requires Key but is getting a string. I've spent the last three hours trying to understand and solve the problem.
I should confess that I don't have much experience using PHP. I just have to do a project which requires PHP.
So, could anyone tell me wha

[2016-02-19 06:34] paragonie-scott commented on #177
Why are you using the unfinished version 2 code?

Go back to using `1.2.1` which doesn't have a File API until version 2 comes out. Trust me, there will be fanfare when it does. :)

[2016-02-19 06:35] paragonie-scott commented on #175
:+1:

[2016-02-23 10:53] madmatt opened #178 "With v2.0, is there a way to programatically determine the ciphertext length from a given input length?"
Provided I know the key and the input value, is there a way to determine the `strlen()` of the cipher text output?

I'm asking because I'm writing a DB wrapper to encrypt data at rest, and want the user of this module to give me the initial length (e.g. "Int(5)" which I translate to "Varchar(200)", assuming that 5 characters of input always produces a ciphertext string <200 characters).

Just wond

[2016-02-23 14:28] paragonie-scott commented on #178
1. Easy mode: Use `TEXT` and make this not your concern.
2. See #149

[2016-02-24 01:40] madmatt commented on #178
Hey @paragonie-scott, that's awesome - thanks! I thought about using TEXT, and we might still do that, but because e.g. MySQL stores TEXT blobs separate from the table, it means if we're encrypting a lot of content, lookups and retrievals are slower. Maybe only millseconds difference, but when you're encrypting 30 different values for thounsands of rows it'll add up. Plus we want to store encrypte

[2016-02-24 01:40] #178 closed

[2016-02-24 02:15] paragonie-scott commented on #178
You'll find that this is going to be a bigger challenge than you probably anticipate anyway. Ciphertexts are indistinguishable from one another in this library.

[2016-02-24 03:02] madmatt commented on #178
Interesting - thanks for the heads-up, I'll take a look at that :)

[2016-02-29 06:19] defuse commented on #174
Oh.... what happened was on the `master` branch so that's the one I need to fix (probably by a force push)

[2016-02-29 06:28] defuse commented on #174
[code]

fuck yeah, that's probably enough info to fix it

[2016-02-29 06:32] defuse commented on #174
[code]

[2016-02-29 06:40] defuse commented on #174
I think it's 399fc4c

[2016-02-29 06:49] defuse commented on #174
Yeah this looks right: https://github.com/defuse/php-encryption/compare/399fc4c...master

I'm going to force push master back to that.

[2016-02-29 06:54] paragonie-scott commented on #174
:+1: and again, sorry about that. I'm getting more practice with using git with IDEs so hopefully (for the sake of every project I work on) it won't ever happen again.

[2016-02-29 07:00] defuse commented on #174
Okay force pushed it. Hmm... all of this stuff is still showing up in the PRs https://github.com/defuse/php-encryption/pull/163

Might actually be something to do with the v2.0 branch but I'll check tomorrow.

[2016-02-29 07:01] defuse commented on #174
No worries @paragonie-scott!

[2016-02-29 07:09] defuse commented on #174
When I go to v2.0 on GitHub I get "This branch is 62 commits ahead, 2 commits behind master." This could get really interesting...

[2016-02-29 07:12] defuse commented on #174
All the extra commits in the pull request start with d3520c9 so what's special/different about that one.

[2016-02-29 07:13] defuse commented on #174
I don't understand because all of the commits (with the same SHA1 hashes) exist in the v2.0 branch so why would GitHub think the pull request is adding them?

[2016-02-29 07:16] defuse commented on #174
Somethign to do with " 	Merge pull request #127 from paragonie/v2.0 …

Only one class per file (PSR-1)

afda73a"

[2016-02-29 07:19] defuse commented on #174
Oh, this might answer it: https://stackoverflow.com/questions/16306012/github-pull-request-showing-commits-that-are-already-in-target-branch/35203417

[2016-03-04 15:17] flavioheleno opened #179 "Python Port"
Hi guys,

I've worked on a python port of the library and I was wondering what should I do next in terms of adding it to GitHub and PyPi.

As there isn't a clear LICENSE for php-encryption I'm not sure how to proceed.

Thanks for such a brilliant library btw. :-)

[2016-03-04 16:23] paragonie-scott commented on #179
@defuse can answer the licensing question (I think it's BSD?), but your users will be much better served by libsodium than this project.

https://download.libsodium.org/doc/bindings_for_other_languages/index.html

https://paragonie.com/book/pecl-libsodium/read/00-intro.md#installing-libsodium

[2016-03-05 08:30] sstok commented on #179
License is MIT ;)
https://github.com/defuse/php-encryption/blob/master/composer.json#L4

[2016-03-07 08:55] flavioheleno commented on #179
@paragonie-scott I've opted for this library as I didn't want to reinvent the wheel and its source seemed simple enough to be ported in one go (our application uses both PHP and Python stacks).

@sstok thanks for pointing it out!

@defuse any comments?

[2016-03-12 03:45] #177 closed

[2016-03-12 10:13] sstok commented on #176
Just uncomment extension=php_openssl.dll in your php.ini

If it doesn't work, copy ssleay32.dll and libeay32.dll to the c:\Windows\System32 folder (not advised but it should do the trick). REMEMBER to do this for every time you install a new php version as these libraries get outdated in time, and with SSL that's never a good thing.

Better is to install openssl for Windows, like https://indy.fulg

[2016-03-15 13:04] flavioheleno commented on #179
As @defuse hasn't said anything about this I'm gonna close it.

To whoever is interested on the port, the code is available here: https://github.com/veridu/py-encryption - help, improvements and comments are more than welcome.

[2016-03-15 13:04] #179 closed

[2016-03-22 10:07] AngeIII opened #183 "Required php extension list"
Please provide minimal php extension list to make this library work.

Note that php.ini-production by default is:
[code]

[2016-03-22 10:08] AngeIII commented on #183
As I see the `php_openssl.dll` is required? Is there any library that will work without any php extension?

[2016-03-22 10:54] sstok commented on #183
Cryptography is complicated and works best in a low-level language like C(++), you can write an RSA encryption in purely PHP but it would still require GMP/BCMath or be much slower (or not properly secure the first time, as it needs proper auditing from others).

If you don't have OpenSSL you need to install it, if that's not possible you should fire whoever is blocking it. You can't provide secur

[2016-03-22 11:03] AngeIII commented on #183
Thanks for clarification.

[2016-03-22 11:03] #183 closed

[2016-03-24 15:54] defuse commented on #174
Sigh, I guess I'll just close this as a GitHub UI issue.

[2016-03-24 15:54] #174 closed

[2016-03-24 15:57] defuse commented on #5
Probably PBKDF2. I don't think there's a fast enough scrypt implementation that we could use without bringing in another dependency like libsodium (in which case why even bother with this library)

[2016-03-24 15:58] defuse commented on #52
See this comment: https://github.com/defuse/php-encryption/issues/94#issuecomment-166364380

[2016-03-26 19:33] paragonie-scott commented on #68
Last year:

It turns out, yes!

https://github.com/ramsey/uuid/issues/80

[2016-03-28 01:01] SkynetHome commented on #161
I am looking to use this library in a project I am working on but am stuck on the proper storage and usage of keys as well. I have scripts receiving strings of data from users on Android and iOS and I need to encrypt that data and store it in mysql. The data submitted by one user needs to be available to certain other users so I don't think encrypting with a users password will work. Most importan

[2016-03-29 22:36] larowlan opened #184 "Chance of a new 1.2.x release without the mcrypt extension requirement"
Any chance of a new 1.2.x release to include #53 in line with https://wiki.php.net/rfc/mcrypt-viking-funeral

[2016-03-29 22:38] paragonie-scott commented on #184
I'm fairly sure the plan is to get 2.0.0 out ASAP then put this in "maintenance-only mode", which basically means it will only be maintained if a security update is necessary. Unfortunately, @defuse hasn't had any spare time to dedicate to this project.

[2016-03-29 22:43] larowlan commented on #184
Ok, I'll try and spend some time in the issue queue to assist with time pressure.

[2016-03-30 21:44] defuse commented on #184
Yeah, that's the plan.

[2016-03-30 21:46] defuse commented on #184
I should be honest and transparent and say that I *do* have spare time, it just isn't going to this project for some reason, for example I spent a few hours this week writing [a toy implementation of some quantum-computer-proof public key crypto](https://github.com/defuse/lwe-pkc) and even more hours reading The Mathematical Theory of Communication.

[2016-03-30 21:49] defuse commented on #184
The main psychological blocker is that I'm not confident I can make the file encryption stuff secure. So maybe I should spend a 5-hour timebox on trying to get that done, and if at the end of that timebox I'm not confident in its security, I'll just cut the feature from v2.0.

[2016-03-30 22:36] larowlan commented on #184
Ok, and would a non-mcrypt dependent point release for the 1.2 branch be a nice point to call it LTS? `</cheeky>`

Willing to help out with support if that helps

[2016-04-02 20:52] defuse commented on #160
The `PHP Warning:  mb_strlen() expects parameter 1 to be string, object given in` is a bug. I think it's fixed now, I'm not sure.

[2016-04-02 21:12] defuse commented on #68
[rant]Oh for fuck's sakes. I'm going to enjoy my two-year vacation to study quantum computing so much. I am sick of shit like this and can't wait to take a break from it.[/rant]

We need to reconsider this for 2.0.

[2016-04-02 21:13] defuse commented on #68
A prerequisite is that I should do a quick audit of random_compat.

[2016-04-02 21:16] defuse commented on #179
@flavioheleno It's awesome that you ported this library to Python! Unfortunately I have no time to review it or otherwise "approve of it." For compatibility between languages I, like @paragonie-scott strongly suggest using libsodium instead of porting this library, but you're of course welcome to port the library.

[2016-04-02 21:27] defuse commented on #5
Considering kicking this out of 2.0 just to get it out the door.

[2016-04-02 21:30] defuse commented on #5
Oh, I see there's a PR. I guess I'll look at that first.

[2016-04-02 22:30] defuse commented on #47
Useful comments on this PR: https://github.com/defuse/php-encryption/pull/139

[2016-04-02 23:40] defuse commented on #5
The PR I merged (#187) doesn't have the nice API I wanted. However, I don't have time to implement that. Let's maybe add the usable API in 2.1.

[2016-04-02 23:45] defuse commented on #184
Don't have time to do this separately from the 2.0 release, so closing.

[2016-04-02 23:45] #184 closed

[2016-04-03 00:38] defuse opened #188 "Change all PHPUnit assertEquals to assertSame"
== vs. ===

[2016-04-03 01:10] defuse opened #189 "Report mb_substr returning false to upstream php and ourSubstr bugs to other code that's copied it"
The docs don't mention mb_substr can return false, WORSE, it does so differently than substr(). This forced me to add this patch to ourSubstr:

https://github.com/defuse/php-encryption/blob/v2.0/src/Core.php#L298-L307

[2016-04-03 01:35] defuse commented on #189
Er, okay, so this depends in a super complicated way on which version of PHP you're using. See the tests: https://github.com/defuse/php-encryption/blob/v2.0/test/unit/CoreTest.php

I honestly came an inch away from ragequitting on this entire library and just deleting it off github. I now believe PHP is not safe to use because it's documentation is incorrect and does not include the subtle differe

[2016-04-03 01:38] defuse commented on #165
This is fixed now.

[2016-04-03 01:38] #165 closed

[2016-04-03 01:40] defuse commented on #151
Done.

[2016-04-03 01:40] #151 closed

[2016-04-03 01:40] defuse commented on #108
This is just busywork. Someone can submit a PR if this actually matters to them. Closing.

[2016-04-03 01:40] #108 closed

[2016-04-03 01:41] defuse commented on #46
Closing this because it's really unnecessary to publish tarballs. People can get it off github (signed tags) or composer.

[2016-04-03 01:41] #46 closed

[2016-04-03 01:43] defuse commented on #94
The .phar stuff will make it easy to import.

[2016-04-03 01:51] defuse commented on #175
Yeah, since it's surprising that they're not compatible, either we do this or we drop the file encryption code. I haven't 100% decided on either one yet.

[2016-04-03 01:54] defuse commented on #145
I don't think this would be a security bug anymore -- at worst the application crashes instead of thinking it's an invalid ciphertext. If you're using this library in an application where that actually matters (i.e. you're trial decrypting ciphertexts and don't want to crash) then you should specifically audit this library to make sure it's reliable in that setting. I think we've done all we reaso

[2016-04-03 01:54] #145 closed

[2016-04-03 01:56] defuse commented on #134
Screw it. Let's just audit the hell out of what we have.

[2016-04-03 01:56] #134 closed

[2016-04-03 01:56] defuse commented on #131
Done.

[2016-04-03 01:56] #131 closed

[2016-04-03 01:57] defuse commented on #115
Done yay!

[2016-04-03 01:57] #115 closed

[2016-04-03 01:57] defuse commented on #104
Closing for the reason stated in https://github.com/defuse/php-encryption/issues/145#issuecomment-204849195

[2016-04-03 01:57] #104 closed

[2016-04-03 01:58] defuse commented on #98
Removed this issue from the v2.0 label and milestone since it's not a blocker on release (it can happen after, potentially many months after, and I leave it up to @paragonie-scott to pursue this if he wishes, I won't put time into it.)

[2016-04-03 02:00] defuse commented on #68
I kind of wonder if the wording in the openssl documentation is just like the comparison between "/dev/urandom" and "/dev/random" ... but unless RAND_bytes() blocks I doubt it's the same comparison.

[2016-04-03 02:04] defuse commented on #188
Done.

[2016-04-03 02:04] #188 closed

[2016-04-03 02:07] defuse commented on #158
Closing this ticket because there doesn't appear to be any good criteria for it being closed, and without that, it could be open indefinitely.

[2016-04-03 02:07] #158 closed

[2016-04-03 02:14] defuse commented on #150
There was already a minimum length check of 16. I changed the constant to 32.

[2016-04-03 02:14] #150 closed

[2016-04-03 02:15] defuse commented on #45
Let's not even bother with this.

[2016-04-03 02:15] #45 closed

[2016-04-03 02:18] defuse commented on #79
I'm rejecting this change, especially since I don't have time to spend on this library and want it to go into maintenance mode, for the reasons described here https://github.com/defuse/php-encryption/pull/81#issuecomment-204827652

[2016-04-03 02:18] #79 closed

[2016-04-03 02:18] defuse commented on #155
If you need this, use libsodium.

[2016-04-03 02:18] #155 closed

[2016-04-03 02:19] defuse commented on #101
Let's just not do it.

[2016-04-03 02:19] #101 closed

[2016-04-03 02:20] defuse commented on #138
If we ever need to deal with downgradable attacks we'll deal with this then. There's no use spending engineering effort implementing the logic to deal with something we may never have to deal with.

[2016-04-03 02:20] #138 closed

[2016-04-03 02:21] defuse commented on #5
If I close this ticket, or put it into 2.0, then we don't need to do a 2.1 version!

[2016-04-03 02:22] defuse commented on #176
Closing this because it's not an issue with this library but an issue getting the dependencies installed. Thanks to everyone who is helping to do support, by the way, that's giving me a lot more time to work on the code stuff!

[2016-04-03 02:22] #176 closed

[2016-04-03 02:23] defuse commented on #52
See this too: https://github.com/defuse/php-encryption/issues/168

[2016-04-03 02:23] defuse commented on #168
I linked this in #52 to make sure we see it while we're writing documentation, thanks!

[2016-04-03 02:23] #168 closed

[2016-04-03 02:30] defuse commented on #161
Revisit this when rewriting documentation #52

[2016-04-03 02:30] #161 closed

[2016-04-03 02:30] defuse commented on #52
And see: https://github.com/defuse/php-encryption/issues/161

[2016-04-03 02:31] defuse commented on #160
Question has been answered, closing.

[2016-04-03 02:31] #160 closed

[2016-04-03 02:31] defuse commented on #156
Thanks @paragonie-scott for answering these questions!

[2016-04-03 02:31] #156 closed

[2016-04-03 02:33] defuse commented on #5
I put this back in 2.0 since it's easy:

1. Make a 'Salt' class that abstracts a random 32-byte value (with timing-safe save/load).
2. Require a 'Salt' object as the $salt parameter.

[2016-04-03 02:37] defuse commented on #52
Things we need to document:

- Development environment: "What do I need to do before being able to make changes to the code in this library?"
- Dependencies: "What do I need to install to use this library?"
- Behavior: "What does this library do, what does it guarantee, etc."
- Usage: "How do I use this library to do certain things, example use cases like deriving a key from the user's login passw

[2016-04-03 02:46] defuse commented on #68
I wonder how this interacts with the .phar stuff... would the .phar include random_compat?

[2016-04-03 03:39] paragonie-scott commented on #68
random_compat.phar is only ~40KB in size.

[2016-04-03 03:40] paragonie-scott commented on #98
I'd say close it then. It's clear that I'm not welcome on their "turf".

[2016-04-03 03:42] paragonie-scott commented on #189
Wow, what a nightmare. I'll add these checks to the other implementations.

[2016-04-03 04:05] #98 closed

[2016-04-03 04:16] defuse commented on #98
+1 to close it

[2016-04-03 19:58] defuse opened #192 "Add a license"
Make a LICENSE file with the contents of the MIT license.

[2016-04-03 19:59] defuse commented on #192
(random_compat is under the MIT license so even if it gets copied in-tree that's still fine).

[2016-04-03 23:51] defuse commented on #5
Also needs tests

[2016-04-04 00:04] defuse opened #193 "Remove unnecessary complexity by making Key always 32 bytes"
We can probably get rid of the entire KeyConfig class, it isn't necessary. Just *always* use 32 bytes with SHA256 for the checksum with 32 bytes of checksum. Store it in the same format so *in case it's necessary* we can bring that complexity back later.

I learned a lesson here: Design your protocols so that they *can* be upgraded, but don't *implement* that additional complexity until you know i

[2016-04-04 00:07] defuse commented on #193
Split out the checksum code and add it to Salt as well (the reason we're checksumming is to prevent accidental corruption of the key/salt from totally compromising security)

[2016-04-04 00:13] defuse commented on #193
Oh yeah, make sure the encodings of Salt and Key are distinct, so that you can't deserialze a Salt as a key or vice-versa!

[2016-04-04 00:22] defuse commented on #193
This also means we can delete any complicated version-parsing code for decryption, just *only* accept one version (and if we need more, *then* add that complicated logic).

[2016-04-04 00:24] defuse commented on #192
Done.

[2016-04-04 00:24] #192 closed

[2016-04-04 00:41] defuse commented on #5
Bug: https://travis-ci.org/defuse/php-encryption/jobs/120515501 need to polyfill hash_pbkdf2 or something.

[2016-04-04 00:42] paragonie-scott commented on #5
Yeah, I was going to port it over from https://github.com/sarciszewski/php-future/blob/master/src/Security.php#L53-L90

You could also just switch to 5.5 as a minimum version ;)

[2016-04-04 00:50] defuse opened #194 "Checksum the salt"
Add a checksum to the salt to prevent accidental corruption from resulting in a catastrophic loss of security. Make sure you can't deserialize a salt as a key or vice-versa (use different version headers with disjoint version namespaces).

[2016-04-04 00:51] defuse commented on #193
Done. Opened #194 about checksumming the salt.

[2016-04-04 00:51] #193 closed

[2016-04-04 00:58] defuse commented on #124
Resolving #175 will resolve this.

[2016-04-04 01:06] defuse commented on #5
Debian Wheezy still has 5.4 :(

[2016-04-04 01:09] paragonie-scott commented on #5
For reference: Wheezy is 7.x, and 8.4 just came out. (Also, not using [dotdeb](https://www.dotdeb.org/) for PHP on Debian is *asking* for complications.)

But yeah, polyfilling hash_pbkdf2 is probably the best move.

[2016-04-04 01:09] defuse commented on #5
I'm copying the one from defuse/password-hashing as we speak :)

[2016-04-04 01:15] defuse commented on #5
Done!

[2016-04-04 01:15] #5 closed

[2016-04-04 01:18] defuse commented on #175
Let's make them compatible. I wonder what PHP has for in-memory streams and such.

[2016-04-04 01:20] defuse commented on #175
The docs: https://secure.php.net/manual/en/wrappers.php.php

[2016-04-04 02:45] defuse commented on #175
Re-using the file class was a really nice idea in theory but in practice, because of file descriptor limits, it's really unreliable. You wouldn't be able to decrypt many ciphertexts in parallel. See #195.

We have 3 options.

1. Leave things as they are (incompatible implementations).
2. Change the Crypto code to be compatible with the File code.
3. Delete the File code.

[2016-04-04 02:45] defuse commented on #175
Given infinite resources (2) is the best option.

[2016-04-04 02:47] defuse commented on #175
Option (2) also gives us an increase in confidence because we have two different implementations of the same thing to test against each other.

[2016-04-04 02:48] defuse commented on #124
Get rid of the whole config system and just have everything in constants with LEGACY_* constants for legacy decryption.

[2016-04-04 04:26] defuse commented on #94
Code is merged, I just have to build it and sign it for release.

[2016-04-04 04:28] defuse commented on #175
(2) should be easy actually we just have to move the HMAC and use the same version header.

[2016-04-04 04:31] defuse opened #196 "Remove BSD licence in comments"

[2016-04-04 04:38] defuse commented on #196
Done.

[2016-04-04 04:38] #196 closed

[2016-04-04 05:29] defuse commented on #175
I found a (non-security) bug in the File encryption code while working on making them compatible with each other: The IV was incremented before the call to openssl_encrypt, not after.

[2016-04-04 06:14] defuse commented on #175
They'll be made compatible by #197.

[2016-04-04 06:15] defuse commented on #124
This will be done when #187 is merged.

[2016-04-04 06:45] defuse commented on #194
This will be resolved by #197

[2016-04-04 06:49] defuse opened #198 "Code cleanup pass"
Look over all the code, check for:

- Unreachable code (e.g. functions that are never called).
- Files without trailing new lines.
- Tabs that should be spaces.
- Consistent capitalization (e.g. some static methods are CamelCase some are whateverThisIsCalled)
- Comments are correct (and all the methods that need documentation have doc comments).

[2016-04-04 06:56] defuse commented on #198
Maybe look up that PSR-2 thing or whatever it is :)

[2016-04-04 06:57] defuse opened #199 "v2.0 launch celebration"
We need some kind of virtual party to celebrate the v2.0 launch.

[2016-04-04 06:57] defuse commented on #199
Ideas?

[2016-04-04 08:45] larowlan commented on #198
If you want PSR-2 I'm happy to take this on

[2016-04-04 08:47] larowlan commented on #198
Or if you want something else, still happy to take it on

[2016-04-04 20:44] defuse commented on #198
@larowlan: We want PSR-2. If you're going to do it, do it on top of the branch in #197 since there are some big changes that are about to be merged there.

[2016-04-04 20:50] larowlan commented on #198
Will do
On 5 Apr 2016 6:44 am, "Taylor Hornby" <notifications@github.com> wrote:

[2016-04-04 20:51] defuse commented on #198
@larowlan Awesome, thanks!

[2016-04-04 21:16] chriseskow commented on #198
I'd recommend using [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer), which can automatically modify the code to adhere to PSR-2 standards (among other style changes). You can also add it to composer.json's `require-dev` and add a .php_cs file to configure it and make it easier to run consistently.

[2016-04-04 23:02] larowlan commented on #198
Great minds think alike ;)
On 5 Apr 2016 7:16 am, "Chris Eskow" <notifications@github.com> wrote:

[2016-04-05 00:54] defuse opened #201 "Better API for password encryption"
I'm implementing an example tool (password-based file encryption), and I'm realizing that to do this right I'm going to have to implement my own saving and parsing of the salt into the output file. I, the user of this library, shouldn't have to write that code. It's actually really tricky to write because I want the ciphertext to be binary but the salt encoding is ASCII, and I have no documented g

[2016-04-05 01:22] defuse opened #202 "Too many ways to create a new random key"
There are currently 3 ways to do this. Get rid of them all except for `Key::CreateNewRandomKey()`

[2016-04-05 03:56] defuse commented on #201
It's *really* annoying to do this in a nice way that doesn't totally complicate the API and file decryption code. I plan to:

- Get rid of the current way to derive a key from a password (by passing the string and a Salt instance), and replace that with a KeyProtectedByPassword class. This has effectively the same usage (deserialize it then "unlock" it with the password string to get a Key), but i

[2016-04-05 03:58] defuse commented on #201
This is a lot of work but I think if we get this right then other projects can re-use our API design and we've contributed a lot more than just a PHP encryption library.

[2016-04-05 04:07] defuse commented on #201
I think it's down to either choosing (4) or (7). They're very similar. (4) is the "right way" but it requires more code changes than (7) does.

We should revisit (3) and see if we can make it secure, e.g. by not letting the user serialize a password-derived key and asking on the PHC mailing list if the salt is actually that important. If we went with (3) then `encryptWithPassword()` would be fast

[2016-04-05 04:18] defuse commented on #201
Ok, (3) is 100% off the table because the attacker can do a one-time computation to apply PBKDF2 with a zero salt to their wordlist, and after they do that once they can try decrypting with every password in the wordlist super quick.

(I also thought about using something else as the salt, like the username, but if you're doing that you might as well just store a salt, and if you're doing that you

[2016-04-05 04:27] defuse commented on #201
Unless anyone objects, let's do (4) with the following design.

- `encrypt(..., Key)` and `decrypt(..., Key)` retain the same API as they have now.
- `encryptWithPassword(..., $string)` and `decryptWithPassword(..., $string)` are added.
- The contents of `encrypt()` and `decrypt()` get moved to `internalEncrypt()` and `internalDecrypt()` which take an instance of a class called `KeyDerivation`. `K

[2016-04-05 05:03] frostover commented on #199
Young Metro doesn't trust this php-encryption library.

[2016-04-05 18:31] defuse opened #203 "Write a blog post about our API and the challenges we faced"
Maybe we should write a paper, similar to the NaCl paper, about our API. We found a way to make file encryption usable so I think it's worth it. It would document our design choices and perhaps make a good argument for libsodium to support the same API for encrypting/decrypting files.

[2016-04-05 18:43] defuse opened #204 "Submit a Conference Talk"
We can tell a story by walking through all the crap I had to go through on #201. "Here's Taylor trying to implement password-based file encryption with his own library and he just can't do it. Discuss tradeoffs of different API changes (as discussed in that ticket). Then get to what we settled on."

(Blog the story first then develop the talk out of it)

[2016-04-05 18:53] defuse commented on #52
Copying this down so I can erase my whiteboard:

[code]

Maybe more? FAQ, etc.? Things to address those comments I linked above?

[2016-04-05 19:19] defuse opened #205 "Use "LTS" instead of "maintenance mode""
"maintenance mode" implies I don't have time for this library and want to work on it as little as possible. "LTS" implies the current version will be supported for a long time (which I can do *because* there won't be future versions / big changes).

[2016-04-05 19:58] paragonie-scott commented on #204
DEFCON'S Crypto & Privacy Village would probably be ideal for this.

[2016-04-05 20:37] defuse commented on #204
Along with the UHC and Zcash I have a lot of things to submit to Crypto & Privacy Village... just need to sort out funding to get there. :)

[2016-04-05 21:12] paragonie-scott commented on #203
That's basically what I was thinking about working towards when I opened #158. :+1:

[2016-04-05 21:21] larowlan commented on #205
+1
On 6 Apr 2016 5:19 am, "Taylor Hornby" <notifications@github.com> wrote:

[2016-04-05 21:22] larowlan commented on #204
How about nomad php too and a php architect article... educate around how
to do things right... Could also highlight the coming mcrypt deprecation
On 6 Apr 2016 5:58 am, "Scott" <notifications@github.com> wrote:

[2016-04-05 21:43] defuse commented on #201
I thought about adding a WrongPasswordException and heuristically distinguishing the case of a wrong password entered from a modified ciphertext (maliciously or not). I thought it might be a usability win but I realized it's not: it just makes exception handling more complicated. Instead, let's rename InvalidCiphertextException to WrongKeyOrCiphertextTamperingException, or something like that.

It

[2016-04-05 23:34] defuse opened #206 "Are we leaking file descriptors?"
I keep seeing this happen. At first I thought it was related to me trying to implement the `Crypto` stuff by reusing `File`, but that code is long gone.

[code]

[2016-04-05 23:36] defuse commented on #206
This is probably a bug in our tests. I'm using ``--stop-on-failure`` to fix my bugs one-by-one.

[2016-04-05 23:44] defuse commented on #206
This isn't a bug in our library, it's just a combination of PHP and PHPUnit being stupid. To reproduce it, add the following code so that it's the first line of of `decryptResource()`:

[code]

Then run the tests. PHPUnit somehow handles the error without crashing (probably by installing its own error handler), and the file descriptor ends up not getting freed. We run a lot of tests, so our tests

[2016-04-05 23:44] #206 closed

[2016-04-06 00:21] defuse opened #207 "Update RuntimeTests for the new format"
This is no longer testing what it says (it's modifying the HMAC).

[code]

Same with this one, it's unclear why "shorter than HMAC" is the right case to be testing, versus "shorter than HEADER + HMAC + SALT" or whatever.

[code]

[2016-04-06 00:21] defuse commented on #207
I vote we just turn the runtime tests into PHPunit tests.

[2016-04-06 00:34] defuse opened #208 "Add a (non-cryptographic) checksum to ciphertexts"
Adding a non-cryptographic checksum to the ciphertexts would let us distinguish between two cases

1. You're using the wrong key *or* someone maliciously tampered with your ciphertext.
2. The ciphertext got corrupted in a benign way.

Even though there's a MAC, adding a checksum may be valuable because it can be checked even when the wrong key is provided.

[2016-04-06 00:35] defuse commented on #208
I'm rejecting this because it would add even more complexity to the code for not *much* benefit.

[2016-04-06 00:35] #208 closed

[2016-04-06 00:35] defuse commented on #201
This is done. I rejected checksums in #208.

[2016-04-06 00:39] defuse opened #209 "Rename InvalidCiphertextException"
The name "InvalidCiphertextException" is technically incorrect since it could be that you're trying to decrypt with the wrong key. I wanted to rename it to "WrongKeyOrModifiedCiphertextException." I know that some of the times we throw it we *are* 100% sure it's an invalid ciphertext, e.g. it's too short. However, it's still technically accurate since "A or B" is true when "B" is true.

[2016-04-06 00:58] defuse commented on #207
Actually let's keep the runtime tests. I'm fixing them now.

[2016-04-06 01:17] defuse commented on #52
Make sure to use the term "LTS" instead of "maintenance mode." Also, be specific about the end of life date. I can commit to security/bugfixes for v2 until Jan 1 2019 (with time extensions possible).

[2016-04-06 01:17] #205 closed

[2016-04-06 01:27] defuse commented on #189
Minimal test case for the bug report:

[code]

[2016-04-06 01:30] defuse commented on #189
**sigh** there's an even worse bug in mb_substr https://bugs.php.net/bug.php?id=66797

[2016-04-06 01:36] defuse commented on #189
Yeah, so it's been impossible to reliably take substrings longer than 4GB (even on 64-bit PHP) since at least before 2014. Adding a check to detect this.

[2016-04-06 01:48] defuse commented on #189
Reported the bug I found: https://bugs.php.net/bug.php?id=71971

[2016-04-06 01:50] defuse commented on #189
I opened a ticket over in defuse/password-hashing about this and @paragonie-scott knows about it so I think we're done here.

[2016-04-06 01:50] #189 closed

[2016-04-06 01:59] defuse commented on #68
Done.

[2016-04-06 01:59] #68 closed

[2016-04-06 03:12] twistor commented on #206
Would adding `--process-isolation` help in this case?

[2016-04-06 03:22] twistor commented on #175
As per #206, I don't think php://memory was causing the file descriptor issues.I don't think it uses real file descriptors. I looked in the PHP source to verify, but that code path is strange, and I had other stuff to do. So, reducing to one code path is still an option.

I'm curious what the tradeoff is of having two implementations vs nearly cutting the codebase in half is.

[2016-04-06 03:37] defuse opened #210 "Revisit re-using the file encryption code for Crypto"
I erroneously decided not to use in-memory streams and `File` to implement `Crypto` because of #206. We need to revisit that decision.

[2016-04-06 03:51] defuse commented on #175
@twistor: Good point. I opened #210 to revisit that decision.

[2016-04-06 03:53] defuse commented on #210
I like having two different implementations to test against each other. We could use `File` for the "production" code and then move what's currently in `Crypto` into the test suite, so that it's still there (and we maintain it) but it's only used for testing purposes.

[2016-04-06 04:02] twistor commented on #175
I just wanted to confirm that file descriptors aren't an issue. I just ran this locally. I had to jack the memory up, but it worked.

[code]

[2016-04-06 04:15] defuse commented on #175
@twistor thanks for confirming that!

[2016-04-06 04:15] defuse commented on #210
@twistor just confirmed in https://github.com/defuse/php-encryption/issues/175#issuecomment-206109719 that it doesn't actually use file descriptors.

[2016-04-06 13:11] wilsonge commented on #100
It would be nice to see this from a @joomla leadership perspective. We're currently working on a new major version that will drop php 5.3 support and would be nice to move to an audited v2 version of this as it's worked really well so far in the cms!

[2016-04-06 16:02] defuse commented on #210
See #213

[2016-04-06 20:07] defuse commented on #203
Typing up a publishable-quality LaTeX paper is too much work for me right now so I'll just blog about it on bqp.io.

[2016-04-06 20:07] defuse commented on #204
#204

[2016-04-07 01:09] defuse opened #214 "Suppress fopen warnings with @?"
`fopen()` will output a PHP warning when it fails. That's annoying because I'm trying to write a command-line file encryption tool with this library and PHP spits out a warning *and* throws an exception, so I can't give the user a clean error message. Should we add `@` to the `fopen()` calls to suppress the error so that the library only throws exceptions and doesn't generate warnings?

I think so

[2016-04-07 01:10] defuse opened #215 "New exception type to indicate file I/O errors"
We can reliably distinguish between all I/O errors and other types of errors. Therefore, we should not be throwing CannotPerformOperationException (which *should* mean something is seriously wrong and the library doesn't work), we should be throwing IOErrorException or something (maybe PHP has a standard exception for this built in already?)

[2016-04-07 01:42] defuse commented on #214
Also the fact I'm just noticing this says that our tests aren't exercising the file-doesn't-exist cases, and we need to add those tests.

[2016-04-07 02:03] defuse opened #216 "Clarify exception meanings"
Our exceptions should have well-defined meanings. Right now `CannotPerformOperationException` is used for a lot of things that the user might want to handle differently. I propose we have the following:

- `WrongKeyOrModifiedCiphertextException`: like the name says.
- `EnvironmentIsBrokenException`: The environment is broken/unsafe, or we've detected a bug in php-encryption itself (the user doesn'

[2016-04-07 02:03] defuse commented on #216
We'll need to catch the `random_compat` error and transform it into an `EnvironmentIsBrokenException`.

[2016-04-07 09:48] narfbg commented on #214
Exceptions thrown by `fopen()`? First time I hear this.

But regardless, the general rule is to never suppress warnings - `display_errors` should be disabled on production environments so that they aren't seen by users, but can still be logged.

[2016-04-07 14:58] defuse commented on #214
@narfbg Whoops, I wrote that wrong, I should have written "PHP spits out a warning *and* **we** throw an exception."

Ok, I'll revert my changes.

[2016-04-07 15:07] sethbattin commented on #214
Squashing the error output is fine as long as the error is still handled, one way or another.  It sounds like the Exception is doing that.  The @ operator only reduces the error level below the logging threshold, which is exactly what is wanted in this case.

[2016-04-07 15:18] narfbg commented on #214
`false` being returned is sufficient for the library itself to handle the condition, but `E_WARNING` messages usually contain information that is *very* useful to users (application developers in this case, obviously).

There are of course cases where error-suppression may be desirable or even unavoidable (`iconv()` comes to mind), but with no specific context here I'm inclined to point out what i

[2016-04-07 15:33] paragonie-scott commented on #214
Throwing an exception is a little bit louder than a warning; it forces developers to either handle it or their app crashes (not failing silently). If we're suppressing an error but throwing an exception with a meaningful/helpful message, that's probably preferable.

[2016-04-07 19:17] defuse commented on #214
By suppressing errors we are losing information, e.g. the error message in the warning will be "... is a directory" if you try to open a directory path as a file, and something else if the file doesn't exist. I wonder if there's a way we could get the warning message / data and pack it into the exception we throw?

[2016-04-07 19:19] paragonie-scott commented on #214
[code]

[2016-04-07 19:21] defuse commented on #214
@paragonie-scott: Are those the only two cases, or could there be other cases like "you don't have permission to open that file" or "that file is a weird thing in /dev that can't be opened" in which case it would still lose error information?

[2016-04-07 19:22] paragonie-scott commented on #214
That's what the `// ...` was meant for. :)

We can add all of these cases, but in general: `is_readable()` and `is_writable()` is all the information we really need.

[2016-04-07 19:23] defuse commented on #214
Oh, I see. I think I'd probably rather lose information than implement all of those cases :)

[2016-04-07 19:24] sethbattin commented on #214
The error message would still be available through `error_get_last`, or via any registered error handler function.  You could acquire the message verbatim for all cases, if it's relevant.  The error level, if @'ed, would be zero, but the message would be intact.

[2016-04-07 19:31] defuse commented on #214
@sethbattin: Thanks! I'll give that a try.

[2016-04-07 22:29] SkynetHome opened #217 "Help with saveToAsciiSafeString"
If there is a better place to ask questions regarding this library please let me know.
When I attempt to save the randomly generated key using Key::saveToAsciiSafeString Intellij alerts me that "Non-static method 'saveToAsciiSafeString should not be called statically"

Can someone please provide proper syntax or ideally an example of how to create a random key one time then store in a format that

[2016-04-07 22:30] paragonie-scott commented on #217
[code]

[2016-04-07 22:34] SkynetHome commented on #217
I tried above earlier and got "Method saveToAsciiSafeString not found in class string" maybe I should have ignored that, sorry I generally write Java and have only very limited experience with PHP.

[2016-04-07 22:40] SkynetHome commented on #217
This is the output of echo $storeMe  Fatal error: Call to a member function saveToAsciiSafeString()

[2016-04-07 22:46] paragonie-scott commented on #217
Okay, it sounds like you're trying to use two different versions of the library at once.

[2016-04-07 22:49] SkynetHome commented on #217
Yeah I just caught that I was using Crypto::createNewRandomKey(); and then trying to call saveToAsciiSafeString changed to Key::createNewRandomKey(); and got rid of IDE warning though something is still wrong will look over it all again and make sure all code is from 2.0

[2016-04-07 22:56] defuse commented on #217
As @paragonie-scott says, you want to be using v1.2.1 right now not v2.0, as it's unreleased.

If you're just testing, what do you get when you do:

[code]

[2016-04-07 23:07] SkynetHome commented on #217
LOL, this is only confusing me more. I am trying to use this in a app that I am building. So I removed all the version 2.0 files and replaced with v1.2.1  but that appears to put me back to square one. I was trying to use 2.0 as it has the method I think I need to store the key. Honestly I dont understand why I need a method to store it. But then again this is way over my head. All I am trying to

[2016-04-07 23:10] defuse commented on #217
In 1.2.1 you do:

[code]

[2016-04-07 23:22] SkynetHome commented on #217
There is no binToHex method in 1.2.1 Crypto class.

[2016-04-07 23:24] defuse commented on #217
@SkynetHome: Oh, sorry, I forgot I merged that in after the release. Just use the PHP-builtin bin2hex(). It won't be cache-side-channel safe but you can upgrade to v2.0 when we launch if you want that.

[2016-04-07 23:25] defuse commented on #217
v2.0 should come with much better documentation (not written yet) and should be easier to use. I'd be interested in getting your feedback after it ships. :-)

[2016-04-07 23:31] SkynetHome commented on #217
Ok that generated the key, now I just need to handle exceptions I think to use it to decode. I would be happy to provide feedback. The project I am working on ideally would use the most secure encryption methods possible. That coupled with the fact that I have very limited experience with PHP and I should be able to give you feedback on all the ways a NOOB coder can manage to screw up using a new

[2016-04-07 23:33] defuse commented on #52
This will be a great test of our documentation and usability: https://github.com/defuse/php-encryption/issues/217#issuecomment-207136688

[2016-04-08 01:46] SkynetHome commented on #217
Ok, I have generated the key and stored it, but now encryption fails throwing "Cannot safely perform encryption" no other info. I edited the die echo's within the encryption try catch to determine which exception is being thrown and its 'CannotPerformOperationException' no other details given. Is this due to the storage of the key or something else I have done wrong?

[2016-04-08 02:11] defuse commented on #217
Comment out your try-catch (let the exception go uncaught) and you should see a detailed error message indicating where in the library the exception was thrown from.

[2016-04-08 02:25] SkynetHome commented on #217
LOL, that returns FATAL ERROR: Uncaught crypto exception. Suppresssing output.

[2016-04-08 02:48] paragonie-scott commented on #217
In your catch block:

[code]

That'll be more helpful.

[2016-04-08 02:58] defuse commented on #217
Oh yeah, sorry about that. v2.0 will be much better :) Thanks @paragonie-scott!

[2016-04-08 03:04] SkynetHome commented on #217
Wait, so use version 2.0? I added the above text and got what I think was the original error before I attempted to implement the comments in the Crypto.php  The end of the error is DANGER! DANGER! The ciphertext has been tampered with!

[2016-04-08 03:09] defuse commented on #217
No, keep using 1.2.1 until 2.0 is released (Right now 2.0 hasn't been security reviewed, so it's not safe to use yet, and it still might change quite a bit).

[2016-04-08 03:10] defuse commented on #217
Hmm, it sounds like when you're decrypting either (1) you're not giving it the same key you used to encrypt, or (2) you're not giving it exactly the same ciphertext you got out of the encryption function.

[2016-04-08 05:38] SkynetHome commented on #217
With this code...

    `$key = "0dc6ecb7ff00ac21b63c8ff07650a211";
    $message = "ATTACK AT DAWN";
    try {
        $ciphertext = Crypto::Encrypt($message, $key);
    } catch (CryptoTestFailedException $ex) {
       die('Cannot safely perform encryption - TestFailed');
    } catch (CannotPerformOperationException $ex) {
       die('Cannot safely perform decryption - Cannot Perform Operation');

[2016-04-08 13:08] paragonie-scott commented on #217
Huh, the full stack trace should show what line of Crypto.php it was thrown from...

What version of PHP are you using? Try running this script:

[code]

[2016-04-08 17:52] SkynetHome commented on #217
PHP Version 5.6

Above returns...

array(3) { [0]=> bool(true) [1]=> bool(true) [2]=> int(16) }

The above reminds me, I had openssl working but steered away from it when I read not to use bin2hex but seeing as how I am going to have to use that here. Is this library going to be any more secure than openssl?

[2016-04-09 02:23] defuse opened #218 "Is reusing salt for PBKDF2 and then HKDF acceptable?"
I'm 99% sure it is, but we should think about it and make sure :)

[2016-04-09 16:38] rsmmukesh opened #219 "how to give a new key insted of random key?"
how to give a new key insted of random key? fixed key

[2016-04-09 18:21] defuse commented on #198
Fix the comments in `File`: https://github.com/defuse/php-encryption/pull/212#discussion_r59108709

[2016-04-09 18:23] defuse commented on #110
I started some of this while reviewing my own PR, see comments https://github.com/defuse/php-encryption/pull/212#discussion_r59108165 https://github.com/defuse/php-encryption/pull/212#discussion_r59108233 https://github.com/defuse/php-encryption/pull/212#discussion_r59108540

[2016-04-09 18:28] defuse commented on #210
I decided against this since it did not actually simplify the code.

[2016-04-09 18:28] #210 closed

[2016-04-09 18:39] defuse commented on #215
Done in #212. Also related to #216.

[2016-04-09 18:39] #215 closed

[2016-04-09 19:12] defuse commented on #209
Done in #212.

[2016-04-09 19:12] #209 closed

[2016-04-09 19:13] defuse commented on #207
Done in #212.

[2016-04-09 19:13] #207 closed

[2016-04-09 19:13] defuse commented on #202
Done in #212.

[2016-04-09 19:13] #202 closed

[2016-04-09 19:13] defuse commented on #201
Done in #212.

[2016-04-09 19:13] #201 closed

[2016-04-09 19:13] defuse commented on #194
Done in #212.

[2016-04-09 19:13] #194 closed

[2016-04-09 19:13] defuse commented on #175
Done in #212.

[2016-04-09 19:13] #175 closed

[2016-04-09 19:13] defuse commented on #124
Done in #212.

[2016-04-09 19:13] #124 closed

[2016-04-09 19:14] defuse commented on #214
Done in #220. (Thanks @sethbattin that worked perfectly!)

[2016-04-09 19:18] paragonie-scott commented on #217
Much more. I've explained this in detail [here](https://paragonie.com/blog/2015/05/using-encryption-and-authentication-correctly).

[2016-04-09 19:50] defuse commented on #110
As part of the audit I should also think about what unit tests we could add.

[2016-04-09 19:57] defuse commented on #198
Also make sure the right kind of exception is being thrown (see #216).

[2016-04-09 20:01] defuse commented on #216
Done in #220

[2016-04-09 20:04] larowlan commented on #110
I'm willing to work in said tests, with guidance
On 10 Apr 2016 5:50 am, "Taylor Hornby" <notifications@github.com> wrote:

[2016-04-09 20:06] defuse commented on #198
What's the standard for those `/**` doc comments? Is there a tool that can generate good documentation from them so that the "single source of truth" is the comments in the code and the documentation people see is generated?

[2016-04-09 20:11] rsmmukesh commented on #219
please help me. i want to know whether is possible or not. i want to save password in encrypted format and i want to check when login the user.

[2016-04-09 20:41] defuse opened #221 "Document where random_compat is from in the README"

[2016-04-09 20:55] defuse commented on #198
Only 9 non-test non-exception files. I'll timebox 20 minutes on each one today.

[2016-04-09 20:55] defuse commented on #198
[code]

[2016-04-09 21:04] defuse opened #222 "Unit test: Checksummed ascii-safe encoding"

[2016-04-09 22:25] defuse commented on #198
Here's the "standard": https://en.wikipedia.org/wiki/PHPDoc

[2016-04-09 22:28] defuse commented on #198
"The Long Description continues for as many lines as desired and may contain HTML markup for display formatting." loooool nope nope nope

[2016-04-10 02:13] defuse commented on #219
@rsmmukesh: You don't want to use encryption to store passwords. See here: https://paragonie.com/blog/2016/02/how-safely-store-password-in-2016